[2019-05-17 06:00] datawookie opened #3 "Tests"
- [ ] to
- [ ] from
- [ ] cc
- [ ] bcc

[2019-05-20 06:57] datawookie opened #1 "Things to do"
- https://curl.haxx.se/libcurl/c/smtp-vrfy.html
- https://curl.haxx.se/libcurl/c/smtp-tls.html
- https://curl.haxx.se/libcurl/c/smtp-ssl.html
- https://curl.haxx.se/libcurl/c/smtp-multi.html
- https://curl.haxx.se/libcurl/c/smtp-mime.html
- https://curl.haxx.se/libcurl/c/smtp-mail.html
- https://curl.haxx.se/libcurl/c/smtp-expn.html

[2019-05-20 18:13] GerardWalsh opened #2 "Exegetic email"
Hi

I tried to use the package with an email account with the domain name "exegetic.biz". When I try to use this domain to send an email I get the error:

![emayili_3](https://user-images.githubusercontent.com/25660835/58042659-8f5c7980-7b3b-11e9-8f61-af310188422e.png)

I also had a warning email from Google in my mailbox: "Someone just used your password to try to sign in to your account from a n

[2019-05-21 08:49] datawookie commented on #2
Thanks for the issue, Gary. I've just done some testing and this is what I've found:

- can't send email on my exegetic.biz account using `{emayili}` but
- can send email on my exegetic.biz account using curl from the command line.

Just need to figure out what extra curl options are being applied on the command line.

[2019-05-21 17:25] datawookie commented on #2
Weirdly, I tried sending email from my exegetic.biz account again this evening and now it works fine.

However, I also sent email from the command line first. So maybe that had something to do with it.

Can you please do some testing for me?

Run the following in the terminal:

[code]

Replace my work/personal addresses with yours. Also store your work password in environment variable PWD like thi

[2019-05-21 17:46] datawookie commented on #2
After you've tried the above, you could also try [allowing access from less secure apps](https://support.google.com/accounts/answer/6010255). Let me know if that makes a difference.

[2019-05-22 14:10] GerardWalsh commented on #2
curl -v --mail-from "gerard@exegetic.biz" --mail-rcpt "andrew.b.collier@gmail.com" \
--user gerard@exegetic.biz:$PWD --ssl smtp://smtp.gmail.com:587

[code]

I get the same warning from Google about a blocked sign-in attempt. I think that it was "unrecognized device" could play a part in this issue?

![emayili_4](https://user-images.githubusercontent.com/25660835/58181413-0749b180-7cac-11e9-8125-a

[2019-05-22 14:22] GerardWalsh commented on #2
And from `{emayili}`:

![emayili_5](https://user-images.githubusercontent.com/25660835/58182361-c18de880-7cad-11e9-9542-3e07acfcf3ec.png)

[2019-05-22 14:26] GerardWalsh commented on #2
Changing the "less secure access" solves the problem, for both instances

[2019-05-22 14:53] datawookie commented on #2
Great! Your first contribution to the package will be to add something to
the README.Rmd file which mentions that you might have to make this change
if you are sending emails via gmail.

On Wed, May 22, 2019 at 4:26 PM Gerard Walsh <notifications@github.com>
wrote:

[2019-05-23 11:13] codecov-io commented on #3
# [Codecov](https://codecov.io/gh/datawookie/emayili/pull/3?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/datawookie/emayili/pull/3/graphs/tree.svg?width=650&token=ICmoymymTp&height=150&src=pr)](https://codecov.io/gh/datawookie/emayili/pull/3?src=pr&el=tree)

[code]

------

[Continue to review full report at Codecov](https://codecov.io/gh/datawookie/emayili/pull/3?src=p

[2019-05-23 15:09] datawookie commented on #3
Thanks, Gary.

One minor request. Can you please change the anchor text as follows: "[grant access](URL GOES HERE) to less secure apps".

Also be sure to have a period at the end of the sentence.

[2019-05-25 12:08] datawookie commented on #3
Don't worry. I did it. Couldn't delay. Want to write blog post.

[2019-05-28 11:39] rdatasculptor opened #4 "Is it possible to install without RTools?"
Thanks for this very promising package!

Unfortenately I work on a restricted machine on whicht RTools is not allowed to be installed. (don't ask me why).
Is it possible to install the development version of curl and your package emayili without having to use Rtools?

[2019-05-28 11:43] datawookie commented on #4
Hi @rdatasculptor,

I'm working in a Linux environment, so I have not come up against the RTools requirement. Can you please clarify: is this necessary to install the development version of `{curl}`?

Thanks,
Andrew.

[2019-05-28 12:55] rdatasculptor commented on #4
yes it is. And also for emayili, as it needs curl.
But I realise this is not the right place to ask since it is mainly a curl issue. I will close this one.

[2019-05-28 12:55] #4 closed, assigned to nobody

[2019-05-28 13:06] datawookie commented on #4
Right. I suspected that the requirement might be for `{curl}`. I've submitted a pull request on that development branch and I'm hoping that @jeroen will merge it at some stage and that it will propagate to CRAN. At that point I think you should be good.

[2019-05-28 13:16] rdatasculptor commented on #4
Thanks for submitting!

[2019-05-30 07:48] GerardWalsh commented on #3
Sorry, this comes to my personal email - have changed my primary email to
be exegetic.biz account

On Sat, May 25, 2019 at 2:08 PM Andrew Collier <notifications@github.com>
wrote:

[2019-05-30 07:57] datawookie commented on #3
No problem. Probably a good plan because most of your Githubbing will be work related (for the moment anyway!).

[2019-05-30 13:23] willglanville opened #5 "Issues with using the gmail smtp"
Hi -

Thanks for making the package.

I'm having trouble running the gmail smtp. R gets to the following position then crashes. Any ideas?

![gmail_error](https://user-images.githubusercontent.com/12036272/58635704-721b6e00-82e6-11e9-93ad-a1b0825685fe.png)

[2019-05-31 07:06] datawookie commented on #5
Hi @willglanville, thanks for the email. Very happy to help. I'd need some context though. Can you please include a minimal example which illustrates the problem you are having? Obviously don't include any credentials! Thanks, Andrew.

[2019-06-03 11:10] willglanville commented on #5
Hi Andrew -

Thanks for the reply.

Running the following. I've also changed the access permissions in gmail as per issue #2

`
library(emayili)
library(dplyr)

email <- envelope() %>%
  from([myemailaddress]) %>%
  to([myotheremailaddress]) %>%
  subject("This is a plain text message!") %>%
  body("Hello!")

smtp <- server(host = "smtp.gmail.com",
  port = 465,
  username = [mygmailaddress],
  pa

[2019-06-06 12:16] datawookie commented on #5
Hi Will,

Sorry, but I've been unable to reproduce this error locally, which makes it pretty difficult for me to debug.

I see that you're on a Windows machine. Not sure if this is possible for you, but have you tried sending an email using `curl` from the command line as described [here](https://datawookie.netlify.com/blog/2019/05/emayili-sending-email-from-r/). Knowing whether or not that works

[2019-06-22 01:36] willvieira opened #7 "Can't send body() and attachment() in the same email"
Hi,

When trying to send an email with both a body message and an attachment, the package sends only one of them (the first one insert).

Here an example where it will only send the body but not the attachment.

[code]

[2019-06-29 04:51] datawookie commented on #7
Hi @willvieira,

Thanks for creating the issue. I've just tried your code (with some minor amendments) and it works for me.

This is what I'm running:

[code]

I'm using the Google Mail SMTP server on port 465.

Below is an image of the email I received, which you can see contains both the body and the attachment.

![image](https://user-images.githubusercontent.com/6134409/60379835-6aacc900-9a3a-1

[2019-06-29 14:30] willvieira commented on #7
Hi @datawookie, thanks for the reply!

So it's weird, I've just tried again and no success. Even updating all the dependencies.
I'm also using the Google Mail SMTP server on port 465.

I don't know if it can help, but here it's my log when I use the `stmp` function:

[code]

Also my session info:
[code]

[2019-06-30 03:14] datawookie commented on #7
How perplexing! :)

Okay, can you please dump the contents of the message and send it to me? Use the following:

[code]

This allows me to interrogate the MIME structure of the email, which is presumably the source of the problem.

Thanks,
Andrew.

[2019-06-30 03:26] willvieira commented on #7
Here it is:

[code]

Thank you! :)

[2019-06-30 03:30] datawookie commented on #7
Looks legit. Weird!

Okay, can you please include me (collierab@gmail.com) as a recipient and send again?

[2019-06-30 03:44] willvieira commented on #7
Ok, just figured out that the problem is actually with the apple Mail. Just saw my email on the gmail website and both body and attachment are there. I don't really understand why appleMail doesn't show both body and attachment together, weird.

Sorry for the inconvenience, and thanks for quick reply. Also thanks a lot for creating the package! :)

Cheers,
Will

[2019-06-30 03:44] #7 closed, assigned to nobody

[2019-06-30 03:48] datawookie commented on #7
Hmmm. Well, ideally this should work with all mail clients. So it's troubling that it doesn't work with Apple Mail. Would still be good to debug that!

[2019-07-10 09:03] #5 closed, assigned to nobody

[2019-07-10 09:05] datawookie commented on #7
Hi @willvieira, just done some more digging on this issue (another guy also had the same problem with emails on a Mac). I think I've solved the problem. Please update your copy of `{emayili}` and give it another try. Let me know if you still have issues with body+attachment on your Mac.

[2019-07-10 17:05] willvieira commented on #7
Hi @datawookie, just tried and it's working now.

Thanks for fixing it! :)

[2019-07-16 09:28] shizidushu opened #8 "About send rmarkdown report"
Just tried the package. I'm try to send rmarkdown html output. The code looks like the following.
[code]

I checked the inbox and find the css style is not working.

[2019-07-16 09:42] datawookie commented on #8
Hello @shizidushu.

[2019-07-17 07:41] shizidushu commented on #8
After searching, I come up with the following code to add css to the email body. But only the default css of rmarkdown was added. css for math equations and code block syntax highlighting and maybe some other things are still missing.

[code]

[2019-07-17 07:45] datawookie commented on #8
Hello @shizidushu.

[2019-07-31 06:47] rdatasculptor opened #9 "curl::send_mail sends mail, emayili doesn't"
I use this code for sending an email using `curl`.

[code]
This is the message I get:

[code]

This email is sent perfectly.

When I use this code:

[code]

This is the error I get:

[code]

I also tried port 25 (as `send_mail` seemed to use that one), but that one failed as well. Any ideas about what causes this problem? Thank you very much in advance!

[2019-07-31 07:27] datawookie commented on #9
Hi @rdatasculptor,

Thanks for the feedback.

Can you please send me the `{emayili}` output from when you used port 25?

Also I see that the IP address for the server that you used with `send_mail()` is 93.95.2.215, while when you sent using `{emayili}` it was 93.95.0.156. The latter is the IP address that I get when doing a DNS lookup on `mail.happyatwork.nl`. Have you had success using `send_mai

[2019-07-31 07:41] rdatasculptor commented on #9
This is what I get using port 25:

[code]
`send_mail` chooses the ip address itself. I am not sure if 93.95.0.156 will have success in `send_mail`

[2019-07-31 07:47] datawookie commented on #9
Hmmm.

Okay, so I have tested both approaches using the same IP address (so that I can be sure that we are comparing apples with apples).

Here's what I get from `send_mail()`:

[code]

And this is what I get from `{emayili}`:

[code]

So it looks like neither is able to connect to the server at 93.95.0.156.

Since you had success sending mail via the server at 93.95.2.215, can you please try usin

[2019-07-31 07:58] rdatasculptor commented on #9
that worked! Thanks for pointing me in the right direction.

How is `send_mail` able to figure out the right ip-address, and couldn't this be an interesting feature for emayilli as well?

[2019-07-31 08:04] datawookie commented on #9
Great.

I don't believe that `send_mail()` is figuring out the IP address. The mapping from server name to IP address is normally handled by DNS.

Your original call to `send_mail()` used `mail.ouremailserver.nl` as the server name. This is not resolved by public DNS.

[code]

 Do you have a local DNS server which is resolving it to an IP address?

[2019-07-31 08:07] rdatasculptor commented on #9
I am sorry, I left the real name out in the first issue description. It was "mail.happyatwork.nl" all along. Sorry for this misunderstanding.

[2019-07-31 08:16] rdatasculptor commented on #9
since it was "mail.happyatwork.nl", and  so it was 93.95.0.156, all allong, my conclusion is that `send_mail` figures out that it should use 93.95.2.215 instead.

[2019-07-31 08:25] datawookie commented on #9
Hmmm. Well, it doesn't "figure it out" for me:

[code]

DNS is resolving mail.happyatwork.nl to 93.95.0.156 and there do not appear to be any alternative IPs for this DNS name.

I see that at the top of your log you have the following:

[code]

This suggests that it's using an existing connection. What happens if you restart R and then use `send_mail()` with mail.happyatwork.nl?

[2019-07-31 08:50] rdatasculptor commented on #9
If I restart R and run the `send_mail()`code with mail.happyatwork.nl I get this message and the email is sent:

[code]

[2019-07-31 08:59] datawookie commented on #9
Perplexing.

What do you get from `curl::nslookup("mail.happyatwork.nl")`?

[2019-07-31 09:07] rdatasculptor commented on #9
then I get: `[1] "93.95.0.156"`

For the record I type `smtp://mail.happyatwork.nl` instead of `mail.happyatwork.nl` in `send_mail()`. Though the curl documentation says so, in my case the latter doesn't work.

[2019-07-31 09:16] datawookie commented on #9
Hmmm. I'm at a bit of a loss about what the problem is here. Would you have time for a quick screenshare at some stage? Really like to iron this out.

[2019-07-31 09:18] rdatasculptor commented on #9
Not right now. Maybe I have some time this afternoon. In which timezone do you live? :-)

[2019-07-31 09:27] datawookie commented on #9
I'm in UTC+02. I suspect the same as you. Just let me know what time suits you.

[2019-07-31 10:51] rdatasculptor commented on #9
I have some time at this moment. How can we best screenshare? Skype? My skypename is jelle.geertsma75.

The next, let's say two hours I may have some time.

[2019-07-31 12:16] datawookie commented on #9
Hi Jelle,

Sorry, I had a consultation from 12:00 to 14:00. If you have another gap
this afternoon, give me a shout.

Thanks,
Andrew.

On Wed, Jul 31, 2019 at 12:51 PM rdatasculptor <notifications@github.com>
wrote:

--
Andrew Collier
Senior Data Scientist
 083 381 3655
 andrew@exegetic.biz
 www.exegetic.biz

[2019-07-31 12:42] rdatasculptor commented on #9
Hi Andrew,

I have time in about twenty minutes from now. Are you available as well?

[2019-07-31 12:50] datawookie commented on #9
Yes! Let's meet here: https://meet.google.com/jak-krzw-tuk.

On Wed, Jul 31, 2019 at 2:42 PM rdatasculptor <notifications@github.com>
wrote:

--
Andrew Collier
Senior Data Scientist
 083 381 3655
 andrew@exegetic.biz
 www.exegetic.biz

[2019-07-31 13:10] datawookie commented on #9
Thanks for the chat. Something I forgot to ask: did you install `{curl}` from CRAN or GitHub?

[2019-07-31 13:15] rdatasculptor commented on #9
Thank you too. I think I installed it from GitHub. I have checked it a moment ago, it's `curl 4.0`. Do you think that's the right one for your package?

[2019-07-31 13:26] datawookie commented on #9
The weird thing is that according to the code, using `smtp://mail.happyatwork.nl` as the server name should not work because it's actually prepending `smtp://` onto the server name anyway...

[2019-07-31 13:30] datawookie commented on #9
Can you send me the body of your `send_mail` function? If you just type `send_mail` in the console you'll get the function body (apologies if I'm stating the obvious!). Just want to try and understand why using `smtp://mail.happyatwork.nl` actually works!

[2019-07-31 13:34] rdatasculptor commented on #9
I remember I was surprised as well it actually worked, because Jeroen showed in his example not to add `smtp://` to the url. I found out by accident it worked for me that way.

Here's the body:
[code]

[2019-07-31 13:37] datawookie commented on #9
Yes, this doesn't make any sense at all. Third last line of the function adds `smtp://` to the beginning.

[2019-07-31 14:59] datawookie commented on #9
@rdatasculptor I think we might have an answer. Please would you take a look at [this](https://github.com/jeroen/curl/issues/195#issuecomment-516886807) and post the results on that thread? Thanks!

[2019-08-01 08:25] datawookie commented on #9
Issue seems to be resolved [here](https://github.com/jeroen/curl/issues/195#issuecomment-517175962).

[2019-08-01 08:25] #9 closed, assigned to nobody

[2019-08-13 09:22] thfuchs opened #10 "Need to set cc"
Hey, thanks for the nice package! Nice to have an option working without java

Could you allow sending mails without the need to set a cc address? Setting `cc` to `NULL` does not send the mail, so only option working for me is specifying `to` and `cc` with the same parameter, which results in two incoming mails

Best regards
Thomas

[2019-08-13 13:05] datawookie commented on #10
Hi Thomas,

Thanks for the feedback. Super happy that you are finding `{emayili}` useful. Let's see if we can sort this issue out for you!

This works for me:

[code]

I am only specifying the `To:` address via `to()` without invoking `cc()`.

If you use the `to()`, `cc()` or `bcc()` methods without arguments then they return the respective addresses that are currently attached to the message. So,

[2019-08-13 13:26] thfuchs commented on #10
ok yes, my fault, thanks a lot for your patience! Was a problem with the function I wrapped `envelope()` in.

[2019-08-13 13:26] #10 closed, assigned to nobody

[2019-09-30 21:50] andrewsrs opened #11 "mime and format"
Would it be possible to include a quick example of how these functions are used in the creation of a multi part mime document. I've been playing, but there's no examples, and have had no luck so far.

thanks, andrew

[2019-10-01 05:08] datawookie commented on #11
Hi!

Sure. What did you have in mind? What kind of content are you wanting to compose into the message?

/Andrew.

[2019-10-06 12:04] fljoly opened #13 "Example code send body text as attachement."
Hi,

Thanks for this package.
I've tried to send an email using the example code and body text arrived as attachment.

https://www.dropbox.com/s/svvifqt2gbq53se/Screenshot%202019-10-06%2013.02.27.png?dl=0

https://www.dropbox.com/s/ffg2c3mfp3x6qco/Screenshot%202019-10-06%2013.02.36.png?dl=0

[2019-10-10 03:41] datawookie commented on #13
Hi!

That's odd. Can you please send me the precise code you ran?

Thanks,
Andrew.

On Sun, Oct 6, 2019 at 2:04 PM François <notifications@github.com> wrote:

--
Andrew Collier
Senior Data Scientist
 083 381 3655
 andrew@exegetic.biz
 www.exegetic.biz

[2019-10-12 06:24] KZARCA opened #14 "Development version of curl not required"
Hi,
it seems that the version of curl available on cran (4.2) is sufficient. No need to install the development version anymore.
Best

[2019-10-12 09:33] datawookie commented on #14
Hi!

Yes, you're right. It was updated to include the required features.

I'll sort out the README.

Thanks for the heads-up.

Best regards,
Andrew.

[2019-10-12 09:36] #14 closed, assigned to nobody

[2019-10-12 09:36] datawookie commented on #14
Also, please let me know if you encounter any issues with `{emayili}`. Definitely still a work in progress.

[2019-10-13 09:17] KZARCA commented on #14
Of course!
BTW this package is great as having very few dependencies. Are you planning to push it on CRAN?

[2019-10-13 12:22] datawookie commented on #14
Thanks!

Yes, I am planning on putting it on CRAN. Was actually just waiting to get some user feedback. I suppose I'm more or less there. If you can confirm that it's working well for you then I guess that's probably enough confirmation for me and I'll start the arduous CRAN submission process. :)

[2019-11-16 16:36] EricGoldsmith opened #17 "PR #16 breaks multiple attachments for some email clients"
The recent merge of PR #16 causes the the same `cid` value to be used for all files attached via a single call to `attachment()` e.g.
[code]

This causes some mail clients (notably the MacOS mail app) to show only the last file, multiple times.

A workaround is to attach one file at a time: e.g.
[code]

[2019-11-16 18:43] EricGoldsmith commented on #17
Related: the use of `Content-Disposition: inline` in the MIME info for image attachments

` ifelse(grepl("text|image", content_type), 'inline', 'attachment')`

[code link](https://github.com/datawookie/emayili/blob/master/R/mime.R#L29)

is problematic for some email clients. Suggest `Content-Disposition: attachment` instead. e.g.

`ifelse(grepl("text", content_type), 'inline', 'attachment')`

[2019-11-16 19:38] EricGoldsmith commented on #17
Looking into this more, I see the `Content-Disposition: inline` MIME info for images, discussed above, was also introduced in PR #16.

[Several](https://blog.mailtrap.io/embedding-images-in-html-email-have-the-rules-changed/) [articles](https://sendgrid.com/blog/embedding-images-emails-facts/) on embedding images in emails suggests that the CID method is problematic with many email clients (esp. w

[2019-11-18 15:14] EricGoldsmith opened #18 "Return status from sending mail"
This is such a small change, doesn't seem worth a PR, so documenting here.

Modify [this code](https://github.com/datawookie/emayili/blob/master/R/server.R#L66-L68):

[code]

to this:

[code]

In order to return status info to the caller.

[2019-11-19 09:29] datawookie commented on #17
Hi @EricGoldsmith,

Thanks very much for the messages and your interest in this package. At this stage I'm still figuring out what features to support and exactly how it should be done.

Although I don't personally use CIDs, it's a feature that I'd like to support if there are people that want to use it. But, at the same time, it should not compromise existing functionality.

So I've implemented a

[2019-11-19 09:38] datawookie commented on #18
Thanks, @EricGoldsmith! Good call. I've made the changes and pushed them on `dev`. Once we've nailed down the question of the CIDs I'll merge all of this into `master`.

[2019-11-19 09:39] datawookie commented on #18
On another topic, I really appreciate your input on this project and I'd like to add you as a collaborator in the `DESCRIPTION` file. Would you be happy with that? If so, please send me your details. Thanks, Andrew.

[2019-11-19 09:39] #18 closed, assigned to nobody

[2019-11-19 12:03] kleinbub commented on #17
Dear Eric,
firstly I'm sorry for the mess, I was in a hurry to develop a working mass-email sender and completely missed that attachment() was intended to manage multiple files.

In regard to the best way to include images in emails, as also your links conclude, there is none. Every approach has drawbacks, and in my experience the cid approach still is the one that most reliably shows images in th

[2019-11-19 12:12] datawookie commented on #17
I'm very happy to support CIDs. We just need to work out how this can be done without compromising other functionality. @kleinbub did you take a look at the changes on the `cid` branch?

[2019-11-19 17:07] kleinbub commented on #17
If I may suggest a different solution, please check my pull request #19
All the best,
Johann

On Tue, 19 Nov 2019 at 13:12, Andrew Collier <notifications@github.com>
wrote:

--
Johann R. Kleinbub, PhD
University of Padova
FISPPA Dep. - Section of Applied Psychology
Cell: +39 3495986373

[2019-11-21 22:01] EricGoldsmith commented on #17
@kleinbub, no worries. I'm certainly no expert in this area - just relaying my experience with the email clients I tested with.

There seem to be two, related, architectural decisions:

1. modify the existing `attachment()` function for CID support, or create a new one
2. globaly choose the MIME `Content-Disposition` setting (`attachment` vs. `inline`) by content type, or set it per object

The CI

[2019-11-23 04:09] datawookie commented on #17
@EricGoldsmith please take a look at the `cid` branch. @kleinbub and I have added a few more iterations on the code to include CIDs and have something that's pretty robust right now.

It can handle the following cases:

- single attachment (no CID)
- multiple attachments (no CIDs)
- single attachment (with single CID) and
- multiple attachments (with same number of CIDs).

I don't have access to a

[2019-11-23 04:20] datawookie opened #20 "attachment() to only accept single attachment"
@kleinbub and @EricGoldsmith I thought I'd create a separate thread for this.

@EricGoldsmith raises a good point [here](https://github.com/datawookie/emayili/issues/17#issuecomment-557292068). For maximum flexibility it would be useful to be able to specify `Content-Disposition` for each attachment.

There are (at least) two options:

- `attachment()` allows for multiple attachments or
- `attachm

[2019-11-23 15:08] EricGoldsmith commented on #20
I think that's the right track.

Looking at methods for capturing and propagating the content-disposition metadata - you already have a robust method for capturing similar attributes in the [`mime()` function](https://github.com/datawookie/emayili/blob/7895740103d59cfeb3aa2b63b154a590cfffe4b5/R/mime.R#L4).  It could be extended like:

[code]

And move the existing content type checking, e.g.
`ifel

[2019-11-25 15:38] MikeJohnPage commented on #13
I experienced a similar case and it was caused by incorrectly updating the body of the email object I had created. For example, if you create and send an email such as this:

[code]
and then update it like so and resend it:

[code]
the update (e.g., "test2") will get attached as a change to the original email. This is because you are trying to add a body to an email where a body already exists. Pe

[2019-11-25 15:47] EricGoldsmith commented on #20
One other note. In the original CID implementation from PR #16, CID info was passed to the `mime()`function via the ellipsis argument, then used in the MIME content (`Content-Id` and `X-Attachment-Id`) via checks for their existence (`exists("cid")`).

This approach is fragile, and a potential source for error in the future. I'd suggest a more explicit approach, like adding CID as an argument to t

[2019-11-25 16:52] kleinbub commented on #20
Sorry I'm a rush in this period, I read the conversation and
everything looks sensible to me.
Honestly the difference between accepting single attachments or multiple
ones seems to me relatively small. It's in the design philosophy of R to
have functions that seamlessly switch between single and vector inputs, and
it's then for the users to decide which use is more straightforward for
their pipeli

[2019-12-02 15:33] EricGoldsmith commented on #20
My $0.02.

I think the existing implementation of `attachement()` (prior to PR #16), which handles simple attachments, both single and vector inputs, should remain (but with an internal change to explicitly pass the `content_disposition` (i.e. `attachment`) to the `mime()` function). This is non-breaking.

The use of CIDs is a special-enough case that it should be a new function, e.g. `attachment_

[2019-12-02 17:53] kleinbub commented on #20
Just a note, my latest  [pull request version](https://github.com/datawookie/emayili/commit/762e9be125822f2dab6c4884b50066aa5ce587f9#diff-c10788c44821a824df7e6a70a7285083)
with the conditional approach (which was removed in 1796cd2), was **not** defaulting to a random number for CID. Indeed if the 'cid' argument was missing, the function did not assign any CID at all, making the whole CID business

[2019-12-03 19:20] gorkang opened #21 "URL included in message changes"
I am trying to send emails with Qualtrics preformatted links for a group of participants. Everything works, except that the links are changed when the email is sent.

In this example, the link
"https://website.com/XY_stuff?Q_DL=2a94hds4QmHP_9NaQ3odv_MLRP_9GNlEdOXL2q9&Q_CHL=gl"
becomes
"https://website.com/XY_stuff?Q_DL*94hds4QmHP_9NaQ3odv_MLRP_9GNlEdOXL2q9&Q_CHL="

There are two unwanted changes i

[2019-12-03 19:31] gorkang commented on #21
Here a simple curl code that works fine:

[code]

[2019-12-04 18:44] datawookie commented on #20
@EricGoldsmith and @kleinbub I've consolidated the various comments on this thread (thanks very much for your input!) and merged the changes.

In the end I settled with a version of `attachment()` which accepts only a single attachment per call and also has (optional) arguments for CID and content disposition. After much consideration this seemed to be the best approach.

I've got some other input

[2019-12-04 18:44] #20 closed, assigned to nobody

[2019-12-05 07:09] datawookie commented on #21
Hi @gorkang,

Thanks for bringing this issue to my attention. I'm busy looking into it now. The problem was how the quoted printable encoding was being handled.

I've pushed a fix on the `encoding` branch. Would you mind please testing? Thanks.

You can install from that branch using:

[code]

Best regards,
Andrew.

[2019-12-05 07:20] datawookie commented on #13
@pixgarden I can't delve into this problem without seeing the code you ran. I'm going to close this issue. Feel free to reopen and provide your code. Thanks!

[2019-12-05 07:20] #13 closed, assigned to nobody

[2019-12-05 07:21] datawookie commented on #13
@MikeJohnPage I think that your hypothesis might well be correct. However, without seeing the code it's impossible to be sure.

[2019-12-05 09:39] gorkang commented on #21
It works as expected! Thanks for the quick response! I will be using it a bit more in the next few days and let you know if something comes up.

[2019-12-05 09:39] #21 closed, assigned to nobody

[2019-12-06 05:19] #17 closed, assigned to nobody

[2019-12-06 05:21] datawookie commented on #11
@andrewsrs I didn't get a response from you, so I'm going to close this. Feel free to reopen the issue and give me some specifics on what you have in mind.

[2019-12-06 05:21] #11 closed, assigned to nobody

[2019-12-23 23:40] kirovtome opened #23 "*** caught segfault *** address (nil), cause 'unknown' when using inside a docker"
I have an 'unknown' issue when i try to send a smtp mail from a dockerized app.
1. The app is an API that will send an email on port 587 via STARTTLS when running a GET method. It's working on my local machine, but
2. I've dockerized the app, and mapped the port 443, so i can call GET method from Postman (for example). The issue here is the following:

< 220 smtp.gmail.com ESMTP y25sm8936760lfy.59

[2020-01-02 21:21] benyamindsmith opened #24 "Bolding/Underlining text in emails"
Hi there!

I have been playing around with your package and have really been enjoying how it works.

Is there any way to bold/underline text sent in an email written? Or would I need a different package for that?

Thanks!

[2020-01-03 07:31] datawookie commented on #24
Hi Banyamin.

How about using an HTML body like this:

[code]

Best regards,
Andrew.

[2020-01-03 07:32] #24 closed, assigned to nobody

[2020-01-08 18:21] benyamindsmith opened #25 "Determining if Email has been successfully sent."
Hi there,

Just wondering if I want to send a blast to a list of emails. Will successfully sent emails be viewable in my sent folder (I'm using bluehost for context).

I'm wondering because I did send several emails but none of them are in my sent folder. However whenever I send it to myself (as a test)- its seen in my sent folder.

Would that be a good hueristic?

Thanks!

[2020-01-08 18:25] benyamindsmith opened #26 "Adding Signature line in email"
I've tried sending some emails but my Email signature (put in gmail for this one) is not included inline.

Do  I need to manually add it or is there a way to automatically include it?

[code]

[2020-01-09 03:46] datawookie commented on #25
Hi, I don't think that this relates to {emayili}. It's more a function of your SMTP service. Probably not an unreasonable heuristic though, provided that the email addresses on the list are all specified as individual recipients. Regards, Andrew.

[2020-01-09 03:46] #25 closed, assigned to nobody

[2020-01-09 03:47] datawookie commented on #26
Hello again Benyamin, the email signature is handled by your email client. If you want to do this with {emayili} then you'll need to add it manually. This might be a reasonable idea for developing specific signature functionality though! Thanks, Andrew.

[2020-01-09 03:47] #26 closed, assigned to nobody

[2020-01-10 09:47] riskcede opened #27 "AWS smtp"
Hi Andrew

I have moved hosting to AWS and are running R on an Ubuntu server there.

It seems Amazon is very strict on sending emails from their servers, so just using google smtp doesnt work.

Ive followed all the steps to setup their SES, Simple Email Serves, to use their own smtp server, but when running the emayili script it just stops at a certain point and then crashes. I have attached the o

[2020-01-10 10:09] datawookie commented on #27
Hi Jan,

I don't believe that the issue lies with AWS: my understanding is that GMail is blocking emails originating from EC2.

TBH I have not yet tried `{emayili}` with AWS email. I'll allocate some time and give this a try.

Thanks,
Andrew.

[2020-01-10 15:47] galachad commented on #27
@riskcede I agree with @datawookie

I'm using `emayili` with Amazon SES without any issue.

Regards,
Adam

[2020-01-10 16:19] datawookie commented on #27
Thanks, @galachad! Could you help with any setup hints? Anything special you needed to do to get it working?

[2020-01-24 12:11] heeringa0 opened #28 "Installing emayili"
Wonderful package that does not need Java! I got it running locally.

I also tried to install this on the server. Installing from Github did not succeed, so I created   emayili_0.2.2_R_x86_64-pc-linux-gnu.tar.gz and tried to install with: install.packages("emayili_0.2.2_R_x86_64-pc-linux-gnu.tar.gz", repos = NULL, type = "source").

But this gave an error: '‘cannot read workspace version 3 written

[2020-01-27 07:39] datawookie commented on #28
Hi!

Can you give me some idea how this failed? Is this how you tried to install?

[code]

An alternative route to installing is somewhat more elaborate.

1. Download the ZIP archive from GitHub.
2. Unpack the archive.
3. Build a source distribution from the terminal. This will create `R CMD build emayili-master`.

[code]

4. Now install from R:

[code]

If neither of these approaches work for you

[2020-01-29 23:35] willvieira commented on #13
Hi!

I am also having the same trouble where body messages become attachment.
But it happens only when reading the email on my phone with the Outlook app, on my computer it works fine.

Here is an example of what I am doing, consider we have the following ads (a `list` of length `2`):

[code]

I edit the above information to be more readable like this:

[code]

And finally I send it:

[code]

This

[2020-01-30 12:29] heeringa0 commented on #28
Dear Andrew,

Thank you so much for your response!

I tried:
install.packages("emayili_0.2.2.tar.gz", repos = NULL)
and found that emayili depends on httr, and httr depends on openssl.
The installation of openssl went wrong, I got the message:

Configuration failed because openssl was not found. Try installing:
 * deb: libssl-dev (Debian, Ubuntu, etc)
 * rpm: openssl-devel (Fedora, CentOS, RHEL)

[2020-01-30 15:27] willvieira commented on #13
I just figured out that you body must be one single character, and not a vector. My original code was appending new ads to the vector `Body`. The problem is that in my phone I could only see the first element of the vector as a text body, the other elements of the vector were then sent as attachments.

The fix was just `paste()` new information into the body instead of `append()`. So @MikeJohnPage

[2020-01-31 17:58] andrewbcooper opened #29 "Email does not include text() or attachment() when sending from Mac"
Thank you for this amazing package!!!  I got it working perfectly on our server, but when I try to get it running on my Mac, I'm having some problems.  The e-mail sends without a hiccup (the from(), to(), and subject() parts of the envelope() all work.  But it's sending an empty e-mail - the text() doesn't show up (though it does when I use the same code on our server).  E.g.:

email <- envelope()

[2020-02-04 13:54] datawookie commented on #28
Hi Wilbert,

Yeah, dependencies are always a problem. But I still think that this is better than Java! :)

Did you manage to get the server administrator to install the SSL library? Let me know if I can help with this.

And, yes, I submitted the package to CRAN and I'm waiting to hear back.

Thanks,
Andrew.

[2020-02-04 13:54] #28 closed, assigned to nobody

[2020-02-04 14:53] datawookie commented on #13
Hi @willvieira, thanks for persisting. Both the `text()` and `html()` functions for adding a message body will now produced an error if the content has more than one component. This will (hopefully) eliminate any similar future issues. Thanks, Andrew.

[2020-02-04 14:56] datawookie opened #30 "Body with {glue}"
Add `glue` argument to `text()` and `html()` which will use `{glue}` to perform interpolation on message body.

- If `glue` is `TRUE` then use variables from enclosing scope.
- If `glue` is an environment then use variables from environment.

The work for this could be done in `check_message_body()`.

[2020-02-04 14:59] datawookie commented on #29
Hi @andrewbcooper,

Firstly, nice set of initials: they match mine precisely. :)

Not quite sure what the issue here could be, but let's dig into it. Would you mind please sending me the same message from both server and Mac? That way I can take a look at the message contents and try to discern what the difference is.

Also, for reference, please add the precise code that you used to send the mess

[2020-02-04 15:00] csitter267 opened #31 "emayili on R.3.6.x not working"
I am working with the new version of R (3.6.2) and I can't install the library.
Is there a way, that emayili runs on that version?

[2020-02-04 15:02] datawookie commented on #31
@csitter267 I'd love to help but you'll need to give me more information than that.

What goes wrong when you try to install the library? What error do you get? Please copy and paste the install log into this issue.

[2020-02-04 15:05] csitter267 commented on #31
Fehler: Failed to install 'unknown package' from GitHub:
schannel: failed to receive handshake, SSL/TLS connection failed

[2020-02-04 15:09] datawookie commented on #31
Looks like a networking problem to me. I've just run `remotes::install_github("datawookie/emayili")` and it installed 100% fine. Please try again.

Also you might find [this](https://stackoverflow.com/questions/46472724/why-schannel-fails-to-receive-handshake-from-the-server) thread has some helpful suggestions.

[2020-02-04 15:09] #31 closed, assigned to datawookie

[2020-02-05 09:49] datawookie commented on #30
Implement similar to this:

[code]

[2020-02-06 10:31] heeringa0 commented on #28
Hi Andrew,

Thanks for your message.
The server administrator has not installed the SLL library yet, after doing
the request it can take several weeks before they do it.
They use a Kubernetes system, which makes it more complicated to install
this, but it should non be impossible.
I will let you know my findings after they have installed the library.

Great that you submitted emayili to CRAN.

Bes

[2020-02-07 17:24] andrewbcooper commented on #29
Thanks for all your help, Andrew!  We're getting little closer in figuring this out.  We think it's a security/firewall issue, but it's a strange one.  From my Mac and from 4 different servers, the following Python code works just fine:

import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import mimetypes

msg = MIMEMultipart()
msg['Subject'] = "Sendi

[2020-02-19 09:29] datawookie commented on #29
Hi @andrewbcooper, sorry for the delay in getting back to you on this. I've been working on CRAN submission for `{emayili}` and a bunch of other things.

I'm assuming that this issue has not been resolved yet?

I was looking at the various test emails that you sent through.

Here is an extract from one of the emails which *did not* have any content:

![image](https://user-images.githubusercontent.

[2020-02-19 09:35] datawookie commented on #29
@andrewbcooper also, before you run the tests above, please grab the latest version of `{emayili}` from GitHub just so that we are looking at the same code too!

[2020-02-19 14:50] datawookie commented on #29
@andrewbcooper I've actually been working at a client today and tried to use `{emayili}` but ran into precisely the same issue. My working hypothesis right now is that the MS Exchange server is mangling the email content and replacing the correct MIME content with `text/plain`. There's actually a thread about this issue [here](https://social.technet.microsoft.com/Forums/exchange/en-US/f2c8efdf-610

[2020-02-21 05:18] pmoulos opened #32 "Issues with bare line feeds and UTF-8 encoding"
Hello and thanks for this wonderful user-friendly package!

I may have spotted a couple of issues:

1. When sending mail to MS Exchange servers, it bounces back (or ends in spam in the best case) because the mail headers (constructed essentially in ```format.mime()``` and elsewhere) are separated by ```\n``` (or ```<LF>```) instead of ```\r\n``` (or ```<CR><LF>```) as it seems that this is the sta

[2020-02-21 06:21] datawookie commented on #32
Hi @pmoulos, thanks for this very helpful feedback. I became aware of the issue with MS Exchange this week but was not sure what the route cause was. Your help is definitely appreciated! I'll be looking at the package and resolving these issues early next week. Please feel free to make a PR in the meantime! Best regards, Andrew.

[2020-02-25 09:59] datawookie commented on #32
Thanks for this @pmoulos! Please see comment on PR. Would be very happy to add you as contributor on package.

[2020-02-25 09:59] #32 closed, assigned to nobody

[2020-02-26 07:21] datawookie commented on #29
Hi @andrewbcooper, please install the latest version and test again. I think that the PR from @pmoulos cracked this issue. Thanks, Andrew.

[2020-02-26 16:32] andrewbcooper commented on #29
I sent you e-mails from 2 servers and my Mac.  It looks like my Mac now works, and the server that worked before still works.  But the second server does not seem to work.  Here's the script I ran on all three (just changing in subject line, and I removed the e-mail address and host name for privacy, for privacy)

devtools::install_github("datawookie/emayili",force=TRUE)
library(emayili)
library(d

[2020-02-26 17:23] datawookie commented on #29
Hi Andrew,

Thanks for this.

Are you sure that you updated the package on the Ratchet server? The reason that I ask is that I not have a specific header record in emails sent with `{emayili}`. You can see that this is present in the emails from your Mac and the first server:

[code]

but absent from the other server:

[code]

Besides this, I'm not sure that the problem is resolved for you because

[2020-02-27 13:24] heeringa0 commented on #28
Hi Andrew,

The SLL library has been installed, so now I was able to install emayili.

Thanks for your help!

Best regards,

Wilbert

Op do 6 feb. 2020 om 11:30 schreef Wilbert Heeringa <wjheeringa@gmail.com>:

[2020-02-27 13:48] datawookie commented on #28
Great news. Let me know how it goes.

[2020-03-13 21:15] gacolitti opened #35 "Error: token supplied to the function is invalid"
I'm trying to send an email on a Windows 10 machine in an enterprise context, but I get an error about an invalid token.

[code]

<sup>Created on 2020-03-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-26 10:55] DataStrategist opened #36 "Microsoft changes"
Yesterday we recieved this alert from microsoft:

Does this affect you?

[2020-03-26 11:27] datawookie commented on #36
Thanks!

I don't anticipate that this will be an issue.

[2020-03-26 11:27] #36 closed, assigned to nobody

[2020-03-27 19:34] EricGoldsmith opened #37 "Content-type: multipart/related causing problems with Apple devices"
Hey Andrew,

You've been busy :-) Nice to see this package on CRAN.

I'd been using a local fork since late November, and just pulled in all your changes today. Aside from some breaking changes to `attachment()` and `body()`, things looked good.

But, additional testing revealed the following issues:
- for emails with multiple image attachments, the images were showing up out of order in the MacOS

[2020-04-03 07:55] datawookie commented on #35
Hi!

A quick Google reveals that this error is from the underlying `{curl}` package and most likely relates to a certificate issue. See [this](https://github.com/jeroen/curl/issues/127).

Regards,
Andrew.

[2020-04-03 07:55] #35 closed, assigned to nobody

[2020-04-10 08:34] datawookie commented on #37
Hi @EricGoldsmith,

Thanks for bringing this to my attention. I think that I was just trying out some options with `multipart/related` and they became a fixture.

I've reverted to `multipart/mixed` in the `dev` branch. Would you mind please installing and testing?

[code]

If you're happy with the revisions then I'll update the version on CRAN.

Thanks,
Andrew.

[2020-04-10 10:36] datawookie commented on #29
Hi @andrewbcooper,

I think that I might have resolved this issue. Would you be able to test?

Please install this commit from the `dev` branch.

[code]

Let me know what you find.

Thanks,
Andrew.

[2020-04-10 14:46] EricGoldsmith commented on #37
Looks good here.

Thanks,
Eric

[2020-04-10 14:51] #37 closed, assigned to nobody

[2020-04-12 15:56] s-bravo opened #39 "problem with glue"
Hi, Im working with twitteR, tidyverse and Emayili.
When i run the script just with tidyverse and Emayili, it send perfectly the email. But when I run the script with twitteR, it give me this notification.

[code]
here an example of my scrip.

[code]

any idea about what happening?
THANKS!

[2020-04-13 07:56] #39 closed, assigned to nobody

[2020-04-13 07:57] datawookie commented on #39
Hi Sebastian,

Thanks for bringing this to my attention.

It turns out that `{twitteR}` was a red herring and you could reproduce the problem with the code below.

[code]

The problem was that `glue()` was trying to find the `name` variable in the global namespace and found the one from `{twitteR}`, which is a function (not a variable).

Should be fixed by #40.

Best regards,
Andrew.

[2020-04-15 18:36] s-bravo commented on #39
Perfect!! I will test!
Thanks

[2020-04-20 09:56] datawookie opened #43 "Render markdown into email"
[code]

[2020-05-05 15:08] datawookie commented on #43
Take a look at the contents of `examples/rmarkdown-render-attachment/`.

[2020-05-15 16:10] cndunham opened #44 "Attachment disappears on iOS Mail when adding text to body of email"
If my email has a pdf attachment, and I add text to the body of the email using text(), the attachment is not accessible/visible on a device running iOS (or iPadOS). The general issue with smtp and iOS is document in this Stack Overflow post.

https://stackoverflow.com/questions/49145124/email-attachment-sent-via-smtp-to-iphone-are-not-visible-in-iphone-native-email

[2020-05-15 17:45] datawookie commented on #44
Thanks, @cndunham.

Please can you add a code extract showing how you are invoking `{emayili}` (with credentials etc. removed).

[2020-05-15 22:52] ManuelSpinola opened #45 "Error in curl_fetch_memory(url, handle = h) : Login denied"
Hi,

I got an error when sending an email with emayili.  Any idea why is the error?

[code]

[code]
[code]

Error in curl_fetch_memory(url, handle = h) : Login denied

Manuel

[2020-05-16 03:20] datawookie commented on #45
Hi Manuel,

I think that might be the clue. Are your credentials correct?

Also, I hope that's not your real username/password? I so, please go back and edit your original question. :) Don't want to have that information publically accessible. Thanks.

/Andrew.

[2020-05-16 03:29] ManuelSpinola commented on #45
Thank you very much Andrew.  I was thinking that I replaced the personal information, but apparently not.  I did now.

I think my credentials are correct.

Manuel

[2020-05-16 03:42] datawookie commented on #45
Please validate this by using them to login to gmail (by explicitly typing them into the login fields, not using a password manager).

[2020-05-16 03:59] ManuelSpinola commented on #45
Thank you very much Andrew.  You were right.

Manuel

El vie., 15 may. 2020 a las 21:43, Andrew Collier (<notifications@github.com>)
escribió:

--
*Manuel Spínola, Ph.D.*
Instituto Internacional en Conservación y Manejo de Vida Silvestre
Universidad Nacional
Apartado 1350-3000
Heredia
COSTA RICA
mspinola@una.cr <mspinola@una.ac.cr>
mspinola10@gmail.com
Teléfono: (506) 8706 - 4662
Personal website:

[2020-05-16 04:04] #45 closed, assigned to nobody

[2020-05-18 14:16] cndunham commented on #44
Here is how I am invoking `{emayili}`. If I remove the call to `html()` my pdf attachment will show as a clickable icon when viewing the email in iOS. If I leave the call to `html()` in the attachment icon disappears and I cannot view the attachment on an iOS device.

library(magrittr)
library(emayili)

email =
  envelope() %>%
  from(sender) %>% # my email address
  to(recipient) %>% # recipients

[2020-05-18 16:28] MislavSag commented on #44
After I upgrade R to 4.0 email doesn't send attachment too. I am on windows. It sends txt files.

[2020-05-21 12:56] datawookie commented on #44
@MislavSag would you mind please sending me a test email message using `{emayili}`? You can find my email address in the `DESCRIPTION` file. Please make sure to include an attachment in your email.

Thanks,
Andrew.

[2020-05-21 13:01] datawookie commented on #44
@cndunham let's fix this.

Please can you do two things which will help me with the debugging process.

(1) Send an email to me (address in `DESCRIPTION`) using `{emayili}` with (a) just a PDF attachment and (b) both HTML body and a PDF attachment.
(2) Send me an email using the iOS client with both HTML body and a PDF attachment.

This way I should be able to compare the existing MIME structure t

[2020-05-21 13:02] datawookie commented on #29
@andrewbcooper can you please test the above?

If I don't hear back from you then I'll assume that this is :+1: and I'll close the issue.

[2020-05-21 13:22] datawookie commented on #27
Hi @riskcede, are you still having trouble with `{emayili}` on AWS?

Did you manage to verify your domain for SES (by adding the `TXT` record to your DNS settings)?

[2020-05-21 13:26] datawookie commented on #23
Hi @kirovtome, this feels like the issue is not with `{emayili}` but with the way that the API is behaving inside the container.

Are you sure that there is a recipient address specified?

In your verbose output I see

[code]

which indicates that the _from_ address has been set. I would also expect to see `RCPT TO` which would specify the recipient address.

The fact that you've also got `address

[2020-05-21 13:52] datawookie commented on #23
I've added a test to check if there is at least one recipient email address. Changes are on the `dev` branch at ec5ab518 if you want to test.

[2020-06-03 13:45] datawookie commented on #44
@cndunham I never heard back from you, so I'm closing this issue. Feel free to reopen.

[2020-06-03 13:45] #44 closed, assigned to nobody

[2020-06-03 13:46] datawookie commented on #29
@andrewbcooper I never heard back from you, so I'm closing this issue. Feel free to reopen.

[2020-06-03 13:46] #29 closed, assigned to nobody

[2020-06-03 13:46] datawookie commented on #27
@riskcede I never heard back from you, so I'm closing this issue. Feel free to reopen.

[2020-06-03 13:46] #27 closed, assigned to nobody

[2020-06-03 13:47] datawookie commented on #23
@kirovtome I've just submitted an updated version of `{emayili}` to CRAN. Can you please test and see if your issue has been resolved?

[2020-06-03 13:48] #2 closed, assigned to nobody

[2020-07-15 16:17] natasha108 opened #47 "Unable to add a variable name as an input in the "attachment" function of emayili"
Hi There

I  would like my attachment input from this package to allow for  a variable input also unfortunately it only accepts a path of the attachment file.
I used a paste() as the attachment input function but it comes up with an error stating the file can't be found.
This will occur naturally as you are changing a path input to text

Here is a snapshot of what I am trying to do:

[code]

I wil

[2020-07-16 08:03] datawookie commented on #47
Hi @natasha108, I've added a `name` parameter to the `attachment()` function which should do what you want. Please update to the current version on the `master` branch. Here's an example:

[code]

The message will have two attachments (both of the are the same file). The first attachment will have the "local" name (which is a random string of characters) and the second one will have the name "cat.

[2020-07-16 16:16] natasha108 commented on #47
Hi @datawookie , thank you for looking into this issue. Success!! The updates to the package perfectly resolves the issue.

I am now able to mail out reports with variable names

Thanks :)
Natasha

[2020-07-16 16:25] #47 closed, assigned to nobody

[2020-07-16 21:38] GabriellaSpence opened #48 "Error in curl_fetch_memory(url, handle = h) : Login denied"
Hi Andrew,

I saw #45 and logged in successfully by manually typing in info. Does this package work for Office 365 Business?

smtp <- server(host = "smtp.office365.com",
               port = 587,
               username = "",
               password = "")

Thanks,
Gabriella

[2020-07-17 08:19] datawookie commented on #48
Hi @GabriellaSpence,

I'm really not sure because I don't have access to a Office 365 Business account. But I'd be very happy to work with you to iron out any issues. I see no reason why it shouldn't!

Please let me know what you have tried and what issues you have experienced.

Best regards,
Andrew.

[2020-07-20 16:23] GabriellaSpence commented on #48
Hi Andrew,

I don't know really know anything about SMTPs, so I most likely won't be much help here. I only tried just the basic test email (replacing emails and username/pass).

[code]

Which prints out this in the console:

[code]

Best,
Gabriella

[2020-07-22 15:30] datawookie commented on #48
Hi Gabriella,

Okay, well it looks like `{emayili}` is able to communicate with your SMTP server fine.

However, you're not able to send email because you're not authenticating properly (hence the "Login denied" message). I really don't know much about Office365, but generally the problem in this situation is either:

(1) the credentials that you're using are not correct or
(2) there's some weird

[2020-07-22 19:11] GabriellaSpence commented on #48
Hi Andrew,

Yes, it works, but now actually thinking about it, two-factor authentication is turned on because I always get prompted on my phone to enter a password when logging on to a new browser (when signing in with incognito mode). I don't remember setting this up so it must have been set up by default with my organization. Do you think this could be the issue and assuming I can't turn this of

[2020-07-23 08:49] datawookie commented on #48
Hi Gabriella,

Hmmm. I'm afraid I just have no idea how one could get around two-factor authentication with `{emayili}`. The nature of 2FA is that it requires you to independently verify yourself on another device/medium, so I can't immediately think of a way that we could handle that from within the package. Sorry!

I'm going to close this issue, but very happy to continue the discussion here if

[2020-07-23 08:49] #48 closed, assigned to nobody

[2020-07-24 11:30] riskcede commented on #27
Hi Andrew

Sorry I never replied, i was searching for an old email from you now and found this in my junkmail.

Yes, I can send emails from AWS now.

Im using tryCatch() to loop over email addresses that fail and i put a Sys.sleep() in my loop to make sure I dont send out too many emails in a given time period.

The script works now, next im going to try and do it with purrr and map to save it to

[2020-07-24 12:16] datawookie commented on #27
Great to hear!

[2020-08-24 18:51] geomorphdan opened #49 "Error when using emayili in Shiny - unable to login and send mail via curl"
I recently started using emayili as a non-java-dependent alternative to mailR, and I really like it for local use. I use it in a Shiny app to send emails with attachments, and when I run it locally, it works flawlessly. However, as soon as I run it on a server, I get curl-related errors (please let me know if this would be more appropriate on a curl-associated thread) that I think are related to m

[2020-08-25 08:00] datawookie commented on #49
Hi @geomorphdan, thanks for the message. Let's figure this out. The first thing I'd like to do is factor Shiny out of the equation. First let's see if you can simply send an email from the server. So please write a short test script that will send an email (using the same setup as the Shiny app) and then run that from the command line on the server. Let me know what happens! Thanks, Andrew.

[2020-08-25 11:47] geomorphdan commented on #49
Hi @datawookie, thanks for the suggestion, and being willing to help me out on this! I am deploying this app via Shinyapps.io, so to my knowledge, I can't access the server command line directly, to run any code. Everything I run needs to be packaged in a shiny app that I then deploy to shinyapps.io (please let me know if you think there's a way around that).

That said, I did two things:

1) I wr

[2020-08-25 14:11] datawookie commented on #49
Well all of the stuff at the end of the error message indicates that your code is successfully communicating with the SMTP server. However, the "Login denied" suggests that there is some problem with the actual login process. A few questions:

1. How are you storing the credentials for your email account? Do you have the hard-coded into the app? Your sample code would suggest that this is the case

[2020-08-25 14:24] geomorphdan commented on #49
1. Yes, they are hard-coded
2. Yes, I confirmed this.
3. This was it! Nice catch! I followed the bullet "If the tips above didn't help, visit https://www.google.com/accounts/DisplayUnlockCaptcha and follow the steps on the page." By using that page, I got the message "Account access enabled. Please try signing in to your Google account again from your new device or application.", then tried re-dep

[2020-08-25 15:20] datawookie commented on #49
Excellent! Glad that it worked out, Dan! And thanks for the kind words about `{emayili}`!

[2020-08-26 15:25] mkoohafkan commented on #8
I don't think there is a `emayili::body()` function. Do you mean to use `emayili::html()`?

[2020-08-26 17:33] datawookie commented on #8
I believe that an older version of the package is being referenced, where there was a `body()` function. It has been replaced by `text()` and `html()`.

[2020-08-26 17:33] #8 closed, assigned to nobody

[2020-08-28 19:19] mkoohafkan opened #50 "construct entire email from envelope()"
Sometimes you have all the parts of an email ready to go, and you just want to construct the whole thing at once rather piping to calls of `from()`, `to()`, `subject()`, etc. It would be nice if `envelope()` could optionally accept these parts and construct in one go, something like:

[code]
where any of those arguments could be omitted and later added with the appropriate function call. This woul

[2020-08-29 16:47] datawookie commented on #50
This is a great idea. I'll implement it now.

[2020-09-01 07:50] datawookie commented on #50
Hi @mkoohafkan, I've implemented this feature on the `dev` branch. Do you want to give it a try and let me know if it does what you want? If you're happy then I'll merge into `master`. Thanks, Andrew.

[2020-09-01 18:51] mkoohafkan commented on #50
Works great! I might suggest adding arguments `cc`, `bcc` and `reply` as well. I guess it doesn't make sense to add an `attachment` argument since there are a number of additional parameters required... although I guess it could take a list, e.g. `envelope(attachment = list("file.png", cid = "picture", disposition = "inline")).` I haven't used `header()` directly yet so I don't know if it would ma

[2020-09-02 03:34] datawookie commented on #50
Good call. We'll add those three arguments now.

I'm hesitant to add attachments and header items right now though. Let's see how this works out. If there's need for either of those we can add them later.

[2020-09-03 18:03] datawookie commented on #50
Hi @mkoohafkan, my colleague @Matt-dD implemented these features. They are now available on the `master` branch. Would you mind testing?

[2020-09-08 14:57] mkoohafkan commented on #50
@datawookie @Matt-dD I just tested it, works great!

[2020-09-09 03:40] matt-denni commented on #50
@mkoohafkan that's great news.  Thanks very much for testing!

[2020-09-09 09:28] datawookie commented on #50
Perfect! Thanks, @mkoohafkan.

[2020-09-09 09:29] #50 closed, assigned to nobody

[2020-09-26 07:38] gfspiteri opened #53 "Inline image in html body"
Hi, thanks for the excellent package. It's really great not having to worry about JAVA dependencies. I am trying to send an email with an inline image in an html body but image keeps turning blank. If I attach the same image then I get it fine as an attachment (but not in the body of the email). Am I doing something wrong?

[code]

[2020-09-28 08:05] datawookie commented on #53
Hi, thanks for bringing this to my attention. I'll take a look. Best regards, Andrew.

[2020-09-28 08:17] gfspiteri commented on #53
Many thanks – let me know if you want me to test anything,
Best
Gianfranco

[2020-09-30 21:21] okhoma opened #54 "Export message() function?"
Can you, please, export `message()`? It does look like a method of class `envelope()` (something like `as.character.envelope()`). I am currently using it with `:::`, which is not very nice :)

[2020-10-01 04:35] datawookie commented on #54
Hi!

This is a good suggestion. I've implemented a `as.character.envelope()` function in the `email-to-character` branch. Would you mind testing and confirming that it does what you want? In principle I might use this to replace `message()`.

I'm rather intrigued by how/why you are using this in application code. Having a better understanding of the use cases would definitely help me to support th

[2020-10-01 06:19] okhoma commented on #54
Thank you, Andrew. My use case is that I want to get SMTP error code and message in addition to curl error, because, too often curl error does not provide any additional information. I did that by providing my own `debugfunction` which checks  strings received from SMTP server and stores any error responses in the last message. However, the problem is that for it to work I must have `verbose = TRU

[2020-10-01 06:21] datawookie commented on #54
Aha! Okay, I think I understand. Do you think that it would be worthwhile building this functionality into `{emayili}`?

[2020-10-01 06:25] okhoma commented on #54
I would rather say that it should be part of `curl` package. But if it was implemented in `{emayili}` that would reduce the amount of code on my side.

[2020-10-01 07:05] datawookie commented on #54
Understood.

In the meantime though can you please check out the changes that I have made and let me know whether they resolve your problem? Thanks.

[2020-10-02 11:38] okhoma commented on #54
Hi, Andrew. I've checked the branch and it works exactly as I need it. Thank you.

[2020-10-02 17:01] datawookie commented on #54
Excellent. I've pushed the new version (0.4.4) to CRAN.

Thanks for this suggestion.

[2020-10-02 17:01] #54 closed, assigned to nobody

[2020-10-02 17:02] okhoma commented on #54
Thank you!

[2020-10-19 13:05] gfspiteri commented on #53
I was just trying some alternative options to include images inline using for example img_txt <- base64encode("branding.png") and then including the results in the img src tag: <img src="data:image/png;base64,', img_txt, '

In the resulting email it lookgs like the html() function crops the html produced so the image ends up not being produced. Could it be related to the original issue?

[2020-10-23 08:34] #49 closed, assigned to nobody

[2020-10-23 09:10] datawookie commented on #53
Hi @gfspiteri, sorry it's take so long to get back to you on this. I've just tried this and confirmed that it works. I've amended the `README` file to document the process. Currently only on the `dev` branch. Please take a look and confirm that it works for you. The updated `README` can be found here: https://github.com/datawookie/emayili/blob/dev/README.md#adding-an-inline-image. Thanks, Andrew.

[2020-10-23 15:45] gfspiteri commented on #53
Hi @datawookie I tried your code but it still won't work. The example in the `README` won't work. Even something this simple won't work:

[code]

If I look at `email$parts[[1]]$body` I see `=3D` added in. Not sure if that has to do with anything?

`[1] "<p>Taken from wikpedia</p>\n  <img src=3D\"data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA\n    AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIB

[2020-10-23 22:46] gfspiteri commented on #53
Tried again - seems the problem is Gmail. It works on my work email but not visible in Gmail. In the end @AdrianProdan helped and we used an attachment and `CID:`.

[code]

[2020-10-24 04:14] datawookie commented on #53
Ah! I didn't realise that the issue was GMail. Otherwise I would have tested there. Thanks for this. Have updated the `README` to include two options.

[2020-10-24 04:14] #53 closed, assigned to nobody

[2020-11-16 09:29] royfrancis commented on #45
@ManuelSpinola Your login information is still visible in the edit history of the first message. I hope you have created new credentials.

[2020-11-20 16:23] ManuelSpinola commented on #45
Thank you very much Roy.

Manuel

El lun., 16 nov. 2020 a las 3:30, Roy Francis (<notifications@github.com>)
escribió:

--
*Manuel Spínola, Ph.D.*
Instituto Internacional en Conservación y Manejo de Vida Silvestre
Universidad Nacional
Apartado 1350-3000
Heredia
COSTA RICA
mspinola@una.cr <mspinola@una.ac.cr>
mspinola10@gmail.com
Teléfono: (506) 8706 - 4662
Personal website: Lobito de río <https://

[2020-12-17 23:59] ikohane opened #59 "library(emayili) works great from RStudio and interactive commandl line but fails in crontab"
I followed instructions and have had **no** problems executing from RStudio and running the script using Rscript from the bash command line (mac os X). But when I run it from crontab I get the connection errors you see below.

Isaac Kohane

Sending email to  smtps://p3plcpnl0846.prod.phx3.secureserver.net:465/ .
  Trying 50.62.177.159...
TCP_NODELAY set
Immediate connect fail for 50.62.177.159: Ho

[2021-01-12 08:25] Alex089 opened #60 "SMTP Authentication using client certificate without username and password"
For my use case, I would like to verify to the smpt server not with a username and password, but only with a client certificate. I wanted to ask if this is supported somehow or if there is as workaround?

[2021-01-12 08:31] datawookie commented on #60
Hello Alexander.

[2021-01-12 08:46] Alex089 commented on #60
Hello! ; )

[2021-02-17 13:43] kenkoonwong opened #61 "Script ends after successfully sent an email (gmail), without executing the rest of the script"
Hi, I created a list of birthdays, to automatically wish the person who has the birthday that day and also to remind others that it's this person's birthday by creating 2 smtp. Also instead of sending mass email all at once, I used for loop to send it individually. The code looks like this

[code]
It was only able to send the first email to the special person, not the rest. But when I tried it on

[2021-02-17 13:53] datawookie commented on #61
Hi @micceee, can you please provide more information on what did (or didn't) happen when you ran the script on smtp.gmail.com? Were there errors? Was the outgoing email accepted by the SMTP server? If you didn't get an error and the code works with smtpbucket then I suspect that the issue lies with Gmail and not with `{emayili}`. But let's figure this out! Thanks, Andrew.

[2021-02-17 14:08] kenkoonwong commented on #61
Thanks for the response! Yes, I think you're right, it's not emayili, it's gmail. Here is the message when I run the script.

[code]

[2021-02-17 14:13] datawookie commented on #61
Could you please move the call to `server()` outside of the loop? You only need to call this once to establish a connection.

[code]

[2021-02-17 14:44] kenkoonwong commented on #61
Tried it, same problem. I even tried adding

[code]

after the first `smtp` but it won't continue to run the entire script after the first `smtp`. Meaning I do not see "Did this pass?" after the first email (to the special person , without loop) was sent.

[2021-02-18 04:25] datawookie commented on #61
I wasn't suggesting that this would fix the issue, just that it was better practice. Let me try this out locally.

[2021-02-18 08:41] datawookie commented on #61
Hi @micceee, I wrote a short [blog post](https://datawookie.dev/blog/2021/02/emayili-sending-birthday-messages/) which details the approach I would take for this. All of the code has been tested with my Gmail account and it works. Feedback most welcome. Thanks, Andrew.

[2021-02-18 14:09] kenkoonwong commented on #61
awesome! I'll check it out on my system. when i tinker around with curll:send_email yesterday it worked just fine with for loop. I do wonder if your best practice suggestion might have some pointers there with regards to calling smtp x 1 and perhaps piping envelope + message to smtp as opposed to assigning envelope to a variable. Thanks! I'll keep you posted

[2021-02-19 12:55] kenkoonwong commented on #61
Thanks for doing this buddy. I don't know why when I did these

[code]

all the variables above actually returned as empty variables?

[code]

Thoughts?

[2021-02-19 14:37] datawookie commented on #61
Ah, no problem.

You need to actually set these variables in your environment. Probably the simplest way to do this would be to create an `.Renviron` file in the root of the repository.

[code]

You need to restart your session in order for these changes to apply.

The nice thing about this approach is that you don't embed these parameters in your script, which means you can submit to version cont

[2021-02-21 08:42] datawookie commented on #61
Hi @micceee, since I have not heard anything further from you, I'm assuming that this issue is resolved. Please feel free to reopen if you are still having trouble. Thanks, Andrew.

[2021-02-21 08:42] #61 closed, assigned to nobody

[2021-03-01 20:03] overmar opened #62 "Adding a sender argument"
Can you add a sender function, in the same style as from, so that it can be attached to the header? This would allow those of us who are sending from inside an organization the option to state that the email is being sent on behalf of the user by another machine.

[2021-03-02 04:03] datawookie commented on #62
Thanks for the PR, Robert. Great idea. Given some minor feedback. Let's get this merged today!

[2021-03-02 12:11] datawookie commented on #59
Hi @ikohane, are you still having trouble with this? Would like to sort it out for you because this is one of the typical applications where I use `{emayili}`. Thanks, Andrew.

[2021-03-06 02:58] #62 closed, assigned to nobody

[2021-03-08 13:44] datawookie commented on #59
Okay, I'm going to presume that this issue is resolved for you. If you're still having trouble, please don't hesitate to reopen.

[2021-03-08 13:44] #59 closed, assigned to nobody

[2021-03-14 08:25] aavanesy opened #64 "From field can be anything, is that normal?"
Hi,
I am using actively the package for a couple of months.
Today was changing some code by accident typed my personal email in `from` instead of the email in `stmp`.
My biggest suprise was that the email was sent through and I received an email to my inbox.

Next I tried typing some random emails, and it worked again. Finally I typed this

    email <- email %>%
      from("helloworld") %>%

[2021-03-15 04:19] datawookie commented on #64
Hi Arkadi,

Thanks for raising this.

According to [RFC 2822](https://tools.ietf.org/html/rfc2822):

So, indeed, the `From:` field _should not_ be set to an invalid address.

However, it's important to allow the possibility of the `From:` field differing from the email address being used to send the email.

The `Sender:` field caters for the possibility of somebody sending an email _on behalf of_

[2021-03-15 05:26] aavanesy commented on #64
Hi Andrew,

Thank you for the answer.

I suppose the email does create some sort of digital signature specifying who was the real sender?

[2021-03-15 06:18] datawookie commented on #64
Well, kind of.

Here's an example of an email which I sent via Gmail where I specified `carol@gmail.com` (not my email address) as the `From:` field. I've obfuscated the places where my actual email appears. Gmail gives `carol@gmail.com` in the `X-Google-Original-From:` field but uses my actual email address elsewhere.

So I guess that the behaviour depends on the SMTP server.

![image](https://us

[2021-03-15 06:18] #64 closed, assigned to nobody

[2021-04-27 16:53] vinhdizzo opened #65 "curl send_mail dependency"
Hi,

Thanks for the package.  Starting to use it, and ran into the following error:

[code]

After some research, I learned that `send_mail` comes from the [curl](https://cran.r-project.org/package=curl) package, which doesn't have this function until version 4.0.0.  Could I suggest you specify 4.0.0 as the minimum version for `curl` in your `DESCRIPTION` file in order in order to get the package

[2021-04-30 05:13] datawookie commented on #65
Hi @vinhdizzo, thanks for the excellent suggestion. Resolved in f02f1f5aa75ec26f6534f787b6d49aa70dfbb8ab.

[2021-04-30 05:13] #65 closed, assigned to nobody

[2021-05-02 22:19] HenrikBengtsson opened #66 "WISH: NEWS/ChangeLog"
Hi, thanks for a nice package. I'm just dropping by to suggest that you add a `NEWS/NEWS.md` file with info on what's been added/removed/fixed in new releases.

[2021-05-03 04:04] datawookie commented on #66
Great suggestion. I'll sort that out later this week.

[2021-05-10 23:03] davesides opened #67 ""Name <name@domain.org>" Syntax Problem or Feature Request?"
Thanks for creating the package - nice solution!

When I try to include a "name" along with the email address I'm seeing an error come back from AWS SES. I've tried various syntax variations. Is it a new feature request for emayili or do you have a syntax suggestion?

[code]
[edited content for possible sensitive information - see last couple of lines]

Sending email to smtps://<amazon url>.
Hostn

[2021-05-11 10:59] datawookie commented on #67
Hi @davesides, at present this does not work with `{emayili}`. However, I'll add this feature to my backlog and sort it out in the next few days. Best regards, Andrew.

[2021-06-02 09:44] SivuyileNzimeni commented on #43
Allow blastula::md to emayili::evelope to generate personalised communication. See the example below:

[code]

[2021-06-05 03:09] datawookie commented on #67
Hi @davesides,

I've made a small tweak to `{emayili}` which should now handle this case. Would you mind testing it before I update CRAN?

The fix is on the `pretty` branch which you can install as follows:

[code]

Please let me know if this works for you. Or, if not, what problem you run into.

Thanks, Andrew.

[2021-06-05 03:41] davesides commented on #67
Hi Andrew,

Appreciate the change! Away until June 10th. Will test around then. Thanks.

David

On Fri, Jun 4, 2021, at 11:10 PM, Andrew Collier wrote:

`

[2021-06-05 03:55] datawookie commented on #66
Will be included in the next release.

[2021-06-05 03:55] #66 closed, assigned to nobody

[2021-06-14 20:50] davesides commented on #67
First I tried the code using the current CRAN version to make sure it worked with the basic to("my.name@domain.com"). No problem.

I then did a Clear Workspace and Restart R. (In RStudio)

When I pulled down the changed version as you directed and ran it with the simple "my.name@domain.com" it behaved as follows:

Sending email to smtps://email-smtp.us-west-2.amazonaws.com:465/.
Error: Request fai

[2021-06-15 02:57] datawookie commented on #67
Thanks, @davesides, for the detailed error report. I'll get onto this ASAP.

[2021-06-19 05:12] datawookie commented on #67
Hi @davesides, thanks for your patience. I took a look at this today and found that it was a dependency problem (needed to include `{stringr}` rather than just `{stringi}`). Would you mind trying again, please? Just install from the same location. Thanks, Andrew.

[2021-06-22 03:16] datawookie commented on #67
Hi @davesides, did you manage to test this? Thanks, Andrew.

[2021-06-22 11:13] davesides commented on #67
Hi Andrew,

Been away. Should have time today or tomorrow.

David

On Mon, Jun 21, 2021, at 11:17 PM, Andrew Collier wrote:

[2021-06-24 16:33] davesides commented on #67
The following in from() and to() works correctly for me now:

"name@domain.com"
"My Name \<name@domain.com\>"

Both from the RStudio environment and when called from RScript.

Used AWS smtp for sending. Received into Office 365 email.

Thank you!

[2021-06-25 07:01] datawookie commented on #67
Great! Will be pushing this to CRAN today.

[2021-06-25 07:01] #67 closed, assigned to nobody

[2021-07-08 16:14] MislavSag commented on #13
I have the same problem. Here is my code:
[code]
where file_save is path of saved file.

When I get e-mail html file is in message and message is in attachmement.

[2021-07-10 08:06] datawookie commented on #13
Hi @MislavSag, that's odd. Please can you use your code to send me a sample email that demonstrates this problem? You can use the email address in the package `DESCRIPTION` file. Thanks, Andrew.

[2021-07-28 12:19] kirovtome commented on #23
@datawookie it's resolved, thanks!

[2021-07-28 13:22] datawookie commented on #23
Great. Thanks for letting me know, @kirovtome.

[2021-07-28 13:24] #23 closed, assigned to nobody

[2021-07-29 12:51] freuerde opened #70 "Create a HTML body from an existing HTML file"
Is it possible to send an email with a HTML body using an existing HTML file created by rmarkdown?
Thanks a lot.

[2021-07-29 16:22] datawookie commented on #70
Hi @freuerde,

I've implemented the changes required to make this work. Please can you test by installing from GitHub?

[code]

Let me know if this works for you and I'll merge into `master` and then push to CRAN.

Thanks, Andrew.

[2021-07-30 06:28] freuerde commented on #70
Hi Andrew,

Wow, that was fast. It works pretty well using it as follows:
email %>% html(path_to_html_file)

Thanks a lot for fixing it.
Dennis

[2021-07-30 06:28] #70 closed, assigned to nobody

[2021-07-30 06:56] datawookie commented on #70
Great.

If you have any suggestions for how we can get it working _very_ well, please let me know.

Also, thanks very much for the feedback. Suggestions like this really do improve the package. Keep them coming!

[2021-07-30 11:33] freuerde commented on #70
Sorry for my wording. The fix made the function indeed excellent. The function is now more flexible (regarding the RMarkdown generated HTMLs), easy to use (how I showed in the code example above) and works fine without the need for Java (what is an important point for me).

[2021-07-31 09:27] datawookie commented on #70
:) No problem! Super happy to know that it's working for you. As I mentioned before, if you have other suggestions for how I can make `{emayili}` more convenient, please let me know.

[2021-08-17 17:47] ceciliacronemberger opened #71 "server closed abruptly"
My script sending emails with Emayili was working fine and suddenly it stopped working. Here is the error log:

Sending email to smtps://smtp.gmail.com:465/.
Found bundle for host smtp.gmail.com: 0x24b7a0ba4a0 [serially]
Re-using existing connection! (#1) with host smtp.gmail.com
Connected to smtp.gmail.com (2800:3f0:4003:c00::6d) port 465 (#1)
MAIL FROM:<xxxxxx@gmail.com>
421 4.7.0 Try again late

[2021-08-17 18:30] ceciliacronemberger commented on #71
The script works for a while (maybe a couple of minutes) and then the server closes abruptly. The first time it sent 85 emails and stopped. the second time it sent 88 emails defore stopping.

[2021-08-18 20:59] ceciliacronemberger opened #72 "The recipient address is not a valid RFC-5321 address"
Hi. I´m using Emayili to send a large number of emails retrieving information from a very large spreadsheet. My code worked for the first 2 emails, but then I staretd getting this error:

553 5.1.3 The recipient address is not a valid RFC-5321 address

Any thoughts? Thanks!

[2021-08-19 15:07] datawookie commented on #72
Hi @ceciliacronemberger,

This sounds like you have some malformed email addresses in your data. Without more details, I can only guess at what the problem might be. Perhaps you can provide more context? Have you sent an email with debugging output enabled? Could you please provide that? You are welcome to obfuscate the email addresses (but please only change the email address and none of the surr

[2021-08-20 04:21] datawookie commented on #72
Any feedback on this, @ceciliacronemberger?

[2021-08-20 04:54] datawookie commented on #71
Hi @ceciliacronemberger,

I don't think that this is a problem with `{emayili}`. You appear to be sending a bunch of emails to the server with (I'm guessing) little or no delay between each message. I suspect that the server is simply shutting you out.

There's already a retry functionality (see the `Request failed after 5 attempts` message in your output) which uses exponential backoff. I've adde

[2021-08-27 20:26] jonmichael-caldwell opened #74 ""From" Address not formatting correctly"
Hi all,

when using a simple send mail function as below, the resulting email has an incorrectly formatted sender address. The to, subject, body, all appread correct. I can't seem to figure out how to get sender address to appear correctly.

[code]

The resulting email sends and appears correctly except the sender is
"email = person@domain.com, display = NA"

If I change the code to
`...
from("A P

[2021-08-28 02:03] datawookie commented on #74
Hi @jonmichael-caldwell, thanks for getting in touch about this issue. It's already been resolved (https://github.com/datawookie/emayili/issues/73) and you can install the fixed version directly from GitHub. Unfortunately, I won't be able to push the update to CRAN until their team comes back from the Summer holidays on 1 September 2021. Best regards, Andrew.

[2021-08-28 02:03] #74 closed, assigned to nobody

[2021-08-31 11:46] chrisEthers opened #75 "From showing as email = "email@domain.co.uk", display = "" <list@X92BL001PPFP2AP.mail.domain.net>"
Hello,

First of all thank you for this great package.

When using version {emayili}-0.4.16, emails are being received but the from argument is being put in to a list, and then shows like this to the recipient:

![image](https://user-images.githubusercontent.com/89844546/131496497-189d5dbc-3bfd-4c7f-b6e0-2443fd51774f.png)

...but when using {emayili}-0.4.10, the from address shows as the standard

[2021-08-31 14:07] pnacht commented on #75
I can confirm this is a regression. I have a script that sends an automated email daily and it worked just fine until I updated the package on my local machine (thankfully haven't updated the server which actually runs the automated script yet).

If I run the code on my local machine with the updated package:

[code]

<sup>Created on 2021-08-31 by the [reprex package](https://reprex.tidyverse.org)

[2021-08-31 16:12] datawookie commented on #75
Hi @chrisEthers and @pnacht, thanks for getting in touch about this issue. It has already been resolved in https://github.com/datawookie/emayili/issues/73. Unfortunately CRAN is currently not accepting package updates, so the only way to get the fixed package is to install from GitHub. I understand that CRAN submissions will be back online from tomorrow though, so I'll update immediately. Thanks,

[2021-09-01 08:47] chrisEthers commented on #75
Hi Andrew,

This is great, thank you very much for the swift reply.

Kind regards

Chris

[2021-09-03 02:36] datawookie commented on #75
@chrisEthers and @pnacht this should be fixed in the version currently on CRAN (0.4.17).

[2021-09-03 02:36] #75 closed, assigned to nobody

[2021-09-03 02:36] #72 closed, assigned to nobody

[2021-09-03 02:36] #71 closed, assigned to nobody

[2021-09-03 03:23] datawookie commented on #60
Hi @Alex089, I'd like to work on this feature. However, I don't have access to an email account where I can authenticate using a client certificate. So I'm going to need your help for testing. Can you please tell me more about your setup? What email service are you using? Thanks, Andrew.

[2021-09-03 03:54] datawookie commented on #30
Resolved in https://github.com/datawookie/emayili/commit/4141f950844312f979c8b9fe8f350d2c87f44d6d.

[2021-09-03 03:54] #30 closed, assigned to datawookie

[2021-09-03 03:57] #1 closed, assigned to nobody

[2021-09-06 09:38] chrisEthers commented on #75
Hi @datawookie,

Hope you are well. Unfortunately I ran v 0.4.17 this morning but the issue did not seem to be fixed:

![image](https://user-images.githubusercontent.com/89844546/132195833-7fa02701-ad5f-4133-8d47-a9479deebfda.png)

Kind regards

Chris

[2021-09-06 09:53] datawookie commented on #75
Hi @chrisEthers, I'm afraid that you have not really provided me with a lot to work on... However, I did find that there was an issue with empty `From` and `Sender` fields, which I have fixed. I've pushed the changes to GitHub. Could you please test for me?

[code]

Thanks, Andrew.

[2021-09-06 10:05] chrisEthers commented on #75
Hi @datawookie, apologies for the poor explanation.  I have used the repo above and it seems to be working perfectly now.

Many thanks for your help.

Kind regards

Chris

[2021-09-06 10:22] datawookie commented on #75
Hi @chrisEthers, not at all. Any feedback is appreciated! And I'm getting better and joining the dots. :) Fantastic. Let me update CRAN. Again. For real this time. :) Best regards, Andrew.

[2021-09-06 12:06] datawookie commented on #75
Hi @chrisEthers, version 0.4.18 is on CRAN. Please let me know if there are any further issues. Thanks, Andrew.

[2021-09-08 07:32] datawookie commented on #60
Hi @Alex089, since I didn't hear back from you I'm going to close this issue. Please reopen when you have time to debug this with me. Thanks, Andrew.

[2021-09-08 07:32] #60 closed, assigned to nobody

[2021-09-17 14:47] fgoerlich opened #77 "authentication failed on a University server"
Sending this mail:

[code]

I´m unable to access the server.

The verbose output I get is:

[code]

So I cannot login, probably due to SSL/TLS issues.
Any help with the apropiate configuraion would be great!

[2021-09-17 14:55] datawookie commented on #77
Am I right in assuming that the server uses `STARTTLS`?

[2021-09-17 15:01] datawookie commented on #77
@fgoerlich can you please provide me with the results of `sessionInfo()`?

[2021-09-17 15:02] fgoerlich commented on #77
I am not an expert on this, but probably [university information](https://angela.uv.es/display/STU/%28EN%29+Mail+client+settings).

Using `mailR` I only need these options to make it work:
`ssl = TRUE, authenticate = TRUE`

[2021-09-17 15:03] datawookie commented on #77
Cool. Let me investigate. :+1:

[2021-09-17 15:04] fgoerlich commented on #77
[code]

[2021-09-17 15:23] #43 closed, assigned to nobody

[2021-09-17 15:59] datawookie commented on #77
@fgoerlich I see that your server also supports STARTTLS on port 587. Can you please try again using port 587 and send me the same verbose output? Thanks!

[2021-09-17 16:13] fgoerlich commented on #77
Same results!

[code]

[2021-09-17 16:17] datawookie commented on #77
Well, no, not actually. There are significant differences in the output.

From what I can see `{emayili}` is initiating a connection to your server using implicit TLS (on port 465) and STARTTLS (on port 587). In both cases I don't see any issues with the connection.

The only thing I can think might be a problem is the credentials.

Do you by any chance have any exotic characters (ie. not ASCII) i

[2021-09-17 16:22] fgoerlich commented on #77
No, both are plain ASCII, username is lowercase, and password has upper and lowercase letters plus a number.

I am connected via VPN to my University network. `mailR` works both cases, conected or not, but other comercial mail clients (`outlook`) needs to be conected to send mails outside from university. In any case I use this to send mails to students, which are on the network!

[2021-09-18 00:05] jonspring opened #78 "Undeliverable message due to bare line feed characters"
Using my work's Office 365 email server, I can successfully send a text-only message, or a message with HTML in the body, but I get an error on the server side when I try to include markdown in the body using `render("Test")`. This is through my work's Office 365 email server.

[code]

Also, curiously, when I create the `email` object with `render()`, I get a warning, even though the Rmd has a tit

[2021-09-18 02:49] datawookie commented on #78
Hi @jonspring,

Thank you for trying out `{emayili}` and taking the time to bring this issue to my attention.

Yes, Microsoft servers seem to be pedantic about using `"\r\n"` at the end of each line rather than the much more economical `"\n"`.

I've made a small tweak to the code and I'd appreciate you testing it for me before I merge it into `master`.

Could you please install as follows and then

[2021-09-18 02:54] datawookie commented on #78
Are you sure?

I can't reproduce this behaviour with the following code:

[code]

However I do get that warning when I do this:

[code]

[2021-09-18 03:17] jonspring commented on #78
I updated using your update and it seems to have worked! (I had an error a few minutes ago due to my own mistake -- the Rmd was stored in a subdirectory of my project and I forgot to reference that subdirectory. That corrected the "missing title" issue you could not reproduce.)

The email went through with the formatted title Test in the body, and the plot attached as a png. I will read more of th

[2021-09-18 06:15] datawookie commented on #77
Hmmm. Can you please try running this from the command line?

[code]

Just insert your username/email address and password at the end.

[2021-09-18 06:31] datawookie commented on #78
Hi @jonspring,

Glad to know you got that working.

Can you give me some more information on what you are trying to do? You didn't mention a PNG file before. Is this a file generated by `render()` or is it a file that you're attaching separately?

Thanks, Andrew.

[2021-09-18 11:44] fgoerlich commented on #77
I get again `authentication failed`

[code]
It appears something with the user/password, but I have dobbled checked that!
Two other colleages have the same problem trying to reach the mail server with curl, so It should be something related to teh configuration of the server.

Thanks a lot!

[2021-09-18 19:07] yoav-raskin opened #79 "using the params arg in emayili::render()"
Hi,

I'm trying to write a workflow that automates emailing R markdown reports with filtered data. Each user should get his\her own unique filtered data fed into the email report.

My solution was to define a filter using an R markdown parameter, and then (for) loop over the `params` arg in the `render()` function, in the `emayili` R script. However this was not possible, since the `params` arg di

[2021-09-19 06:32] datawookie commented on #79
Hi @yoav-raskin,

Thanks for bringing this to my attention. I don't frequently use `params` in the YAML header, so this had not occurred to me.

However, I've added a `params` argument to `emayili::render()`. Would you mind testing it out for me? You can install the development version as follows:

[code]

Thanks, Andrew.

[2021-09-19 07:45] yoav-raskin commented on #79
Hello @datawookie

Thank you so much for the help!
I'm on it, will email you the feedback shortly!

Yoav

[2021-09-19 07:51] yoav-raskin commented on #79
Hi @datawookie,

This is my code:

[code]

`current_class` is a parameter in the "playground/emayili/class_report_emayili.Rmd" file. This is the .Rmd header:

[code]

I'm getting an error -
"Error: params object already exists in knit environment so can't be overwritten by render params "

Any thoughts?

[2021-09-19 08:08] yoav-raskin commented on #79
@datawookie

So the issue was that unlike` rmarkdown::render()`, the YAML header must **not** include a `params` argument.
When I remove it, `emayili::render()` defines and controls `params` in the .Rmd script, and it works perfectly.

[2021-09-19 09:59] datawookie commented on #79
Aha! Okay, just pushed an update which should solve that issue. Please try:

[code]

[2021-09-19 13:51] SivuyileNzimeni opened #80 "Using render function for Rmd"
Attempted to render Rmd into an email. The error code appears to the referring to reading in the file, see the error message below:
**Error: '/private/var/folders/m5/s2kx6dpn5kd0pnmmg68z3ctc0000gn/T/RtmpoHfuAc/2021_Vehicle_Prices_2021-09-19.csv' does not exist.**
I think it may be an issue with the temporary directory and document directory. I have added the files utilised on the link below.
[Impl

[2021-09-19 16:50] datawookie commented on #80
Aha! I think I see the problem here. I'm making a copy of the `.Rmd` file to a temporary location and then the render happens in that location... so it doesn't see your CSV. I need to make the temporary file in the _same_ location as the original `.Rmd` file. Let me sort this out and get back to you.

Thanks for the bug report, @SivuyileNzimeni.

[2021-09-20 02:52] datawookie commented on #80
Hi @SivuyileNzimeni, I've pushed a patch. Can you please test?

[code]

Thanks, Andrew.

[2021-09-20 02:53] datawookie commented on #79
Hi @yoav-raskin, would you mind please testing this :point_up: and letting me know if it resolves the issue? Thanks, Andrew.

[2021-09-20 05:06] yoav-raskin commented on #79
Hi @datawookie. Nothing seemed to be changed.

This is me YAML:

`
title: "emayili_class_report"
output:
  html_document: default
params:
  current_class: A
`

I get: "Error: params object already exists in knit environment so can't be overwritten by render params "

[2021-09-20 05:11] datawookie commented on #79
Hi @yoav-raskin, did you (1) install the package again using the command above (you need to use that command so that you get the right version!) and (2) restart your R session (so that the new version of the package is loaded). I'm 100% sure the issue is fixed... Thanks, Andrew.

[2021-09-20 05:20] yoav-raskin commented on #79
Oh sorry, forgot to restart after installation. Works perfectly!
Thank you very much!

Yoav

[2021-09-20 05:30] datawookie commented on #79
Resolved in f2008e21a5d55700ad683f64349a3b6f8f538d51.

[2021-09-21 00:56] jonspring commented on #78
My RMarkdown files are showing up differently in my work Outlook client on
the desktop vs. the Outlook app on my iphone. These might well be issues
upstream or downstream of emayili.

For the `test_min.Rmd` script using `html_document` that I included
originally, which has a base R `plot` in the only chunk, it appears on
desktop Outlook as an email that just shows the RMarkdown title *Test* in
the

[2021-09-21 03:06] datawookie commented on #78
Hello @jonspring. Regards, Andrew.

[2021-09-21 03:06] #78 closed, assigned to nobody

[2021-09-21 07:06] SivuyileNzimeni commented on #80
Great news Andrew,
`remotes::install:_github("datawookie/emayili", ref= "f2008e21a5d55700ad683f64349a3b6f8f538d51")` appears to have done the trick.
The file renders as expected.

[2021-09-21 07:06] #80 closed, assigned to nobody

[2021-09-21 08:40] SivuyileNzimeni commented on #77
@fgoerlich I encountered the same issue on university servers. There are two steps I usually follow to debug.

1. Check whether credentials are correct.
2. Switch networks from University to External.

In my case, it appears to be an issue related to the network configuration by the ICT department. A workaround is to switch to an External network (usually my home network) when sending emails.

[2021-09-21 11:09] fgoerlich commented on #77
Thanks @SivuyileNzimeni.

1. Checked. Also with two other colleages.
2. In my case did´t work, but I´ll try again.

I have contacted the ICT department. It appears that is not a problem of `emayili` directly, but of curl, and they should know the proper configuration or a workaround.

[2021-09-21 13:27] datawookie commented on #77
Hi @fgoerlich, well `{emayili}` is using `curl` behind the scenes, which is why I asked you to try the `curl` command above. Once your ICT folk have told you what you need to do to get `curl` to work it should be a simple matter to apply the changes to `{emayili}`. Looking forward to getting this sorted out! /Andrew.

[2021-09-21 13:30] datawookie commented on #80
These changes are available in [v0.5.2](https://github.com/datawookie/emayili/releases/tag/v0.5.2).

[2021-09-22 05:12] yoav-raskin opened #81 "Aligning RTL inline text to the right in emayili::render()"
Hi @datawookie,

I have a rmarkdown report with some inline text in an RTL language (Hebrew). When I render the report using `rmarkdown::render(here::here("Telem assessment reports", "telem_assessment_report_tashpab.Rmd"),
                  output_format = "html_document")` it works well. All the RTL inline text is aligned to the right in the HTML file.

However, when I render and email the same r

[2021-09-22 06:03] datawookie commented on #81
Hi @yoav-raskin, I never thought of this! :) But I'm sure we can fix it. Got quite a lot on my plate today, but I'll try to sort it out tomorrow morning. Thanks, Andrew.

[2021-09-22 06:06] yoav-raskin commented on #81
Fantastic, that'll great!
Thanks so much

On Wed, Sep 22, 2021, 09:03 Andrew Collier ***@***.***> wrote:

[2021-09-22 07:11] SivuyileNzimeni commented on #77
@fgoerlich  An update in relation to the authentication issue. My ICT department provided an IP address to use as host. This seems to have resolved the issue at hand.

[2021-09-22 09:00] datawookie commented on #77
@SivuyileNzimeni so does this mean that you are using a different server then or just that there's some sort of issue with the DNS mapping?

[2021-09-23 05:24] datawookie commented on #81
Hi @yoav-raskin, okay, I've tinkered with this a bit and learned about the `direction` CSS directive in the process. I just wanted to check that we are aligned on what you are aiming for. Please take a look at the example below. Is that more or less what you are wanting? Best regards, Andrew.

![image](https://user-images.githubusercontent.com/6134409/134458225-bb886fbf-b01b-4811-90d1-3c772c19a0c2

[2021-09-23 05:29] yoav-raskin commented on #81
Yes, exactly.
The green text looks very good. It is both RTL and aligned to the right.
The plot is also aligned to the right as expected in a Hebrew document.

Thank you so much,
Yoav

On Thu, Sep 23, 2021, 08:24 Andrew Collier ***@***.***> wrote:

[2021-09-23 05:31] datawookie commented on #81
Wonderful. I'm going to just sort out these changes and push them to the repository.

Would you be okay if I used this as the basis for a short blog post?

[2021-09-23 05:34] yoav-raskin commented on #81
Sure, no problem. I'll share the post around with Israeli R enthusiasts.

On Thu, Sep 23, 2021, 08:31 Andrew Collier ***@***.***> wrote:

[2021-09-23 06:05] datawookie commented on #81
Okay, I'm going to push these changes shorty. This is the setup for testing.

[code]

Here's `rtl.css`...

[code]

... and this is `rtl.Rmd`.

[code]

[2021-09-23 06:13] yoav-raskin commented on #81
Are all the commits already pushed to CRAN?

[2021-09-23 06:28] datawookie commented on #81
Oh no, definitely not. Still have to test and go through the normal release cycle.

Just pushed to GitHub though. Can you please test after installing the following development version?

[code]

[2021-09-23 08:14] datawookie commented on #81
@yoav-raskin I had to push a patch to fix a minor issue (unrelated to RTL support).

[code]

Please let me know if this works for you so that I can merge the changes into the `master` branch.

[2021-09-23 08:34] yoav-raskin commented on #81
Hi,

I was unable to replicate your output using the new push.

Is the knitr::opts_chunk$set(echo = TRUE) mandatory? I normally set it to
FALSE.

Why did you put inline text in an r chunk? Or was the inline text outside
the setup chunk? If so, how did you render plot(pressure) outside an r
chunk?
either way, it is not aligning.

Yoav

On Thu, Sep 23, 2021 at 11:14 AM Andrew Collier ***@***.***>
wr

[2021-09-23 08:44] datawookie commented on #81
Hi.

It's hard for me to help you without more information. Simply saying that it doesn't work is not helpful for me to debug the problem. Can you please run your code and add my email address as one of the recipients? You can find it in the `DESCRIPTION` file.

Not at all. You can definitely set it to `FALSE`.

I don't understand. What are you referring to?

Andrew.

[2021-09-23 08:52] yoav-raskin commented on #81
Sure, sorry for being unclear. It should be in your inbox.

I've used this envelope:
[code]
The YAML in `telem_assessment_report_tashpab.Rmd` is:

[code]

[2021-09-23 09:05] datawookie commented on #81
Okay, @yoav-raskin, the text looks fine to me: it's right-aligned.

![image](https://user-images.githubusercontent.com/6134409/134480586-1c9bd5f7-7a9d-4f51-8ee7-dd9848e71ee0.png)

The figures are centred though.

I took a look at the source of the email message and this is what I see.

![image](https://user-images.githubusercontent.com/6134409/134480755-e1e56ff3-1625-454c-a7f3-d8ab3a1c6e2d.png)

Y

[2021-09-23 13:35] yoav-raskin commented on #81
Hi @datawookie,

You're right, I fixed that.
However, I still can't get the inline text\ggplots to align to the right (and take green font) when my recipient domain is Gmail. Perhaps this is a Gmail specific issue?

Thanks,
Yoav

[2021-09-23 14:03] datawookie commented on #81
Oh, Gmail. Yes, they are very "special". I've been delaying dealing with this. Let me take another look.

[2021-09-23 14:09] datawookie commented on #81
@yoav-raskin I've just sent you an email with a version that I _think_ works on Gmail. Please let me know. :crossed_fingers:

[2021-09-23 16:01] fgoerlich commented on #77
University ICT department response:

[code]

I have run the curl comand

`curl smtps://post.uv.es:465 -v --ssl -u xxx@uv.es:xxxxx`

And get the response:

[code]

Now it appears that it works, ¡with the the same instruction! ¡It appears that was problem with the configuration of the University server!
I will try within `emayili` and let you know.

[2021-09-23 16:05] datawookie commented on #77
Wow! This is good news. Please let me know.

[2021-09-23 18:22] yoav-raskin commented on #81
Hi @datawookie. Works perfectly.

Is this something about `emayili::render() `, or the way the CSS file is specified?

Yoav

[2021-09-23 18:54] datawookie commented on #81
Great. I made another tweak to the way that the CSS is being inserted into the email. Blog post available tomorrow.

[2021-09-23 20:20] fgoerlich commented on #77
It works!

Sending the mail at the begining of the issue I get:

[code]
And the mail arrives!

It was there fault, not yours! Sorry and many thanks!

[2021-09-24 06:28] datawookie commented on #77
Fantastic! Thank you for persisting with this.

[2021-09-24 06:28] #77 closed, assigned to nobody

[2021-09-27 14:09] Steviey opened #82 "RStudio crashes..."
_Win 10, R (latest), emayili (latest)_

RStudio crashes trying this code... what can it be?

[code]

[2021-09-28 04:14] datawookie commented on #82
I don't know.

At what stage in your script does it "crash"? What constitutes a "crash"?

[2021-10-05 17:14] ghost opened #83 "Probably a small mistake"
Hello and thank you for this package that looks very promising to me !

I wanted to use this package to create some weekly report and began with a simple example to understand how the package works. Could you help me understand where my problem is coming from ? I used the example from the Wiki.

My code is basically this :

[code]

The pi.Rmd file is simply :
![image](https://user-images.githubuse

[2021-10-05 17:27] datawookie commented on #83
Hi @Ignatu5, thanks for lodging this issue. I have just tested your code and it works fine for me. So I'm a little puzzled. Can you please forward the email to me at andrew@fathomdata.dev and I'll investigate further? Also can you please tell me what email client you are using to read your email (Gmail in a browser, Outlook, Thunderbird etc.)? Thanks, Andrew.

[2021-10-05 17:53] ghost commented on #83
Hi @datawookie , thanks for the fast answer. It is weird that it works for you. I just forwarded you the email. I sent the email to 2 different adresses (professionnal and personnal) and I opened the email (professionnal) with outlook 2019, and with (personnal) outlook for android/outlook in browser.

Thank you !

Sacha

[2021-10-05 18:00] datawookie commented on #83
Well, not really. I am developing the package and I test regularly. So I'd expect it to work for me. It's other people who occasionally have trouble. But we will sort this out!

[2021-10-05 18:17] Steviey commented on #82
[code]

[2021-10-05 18:24] datawookie commented on #82
I'm afraid that I don't speak or read German.

And a small dash of common courtesy goes a long way.

[2021-10-05 18:24] #82 closed, assigned to nobody

[2021-10-05 18:43] Steviey commented on #82
Not so nice.

[2021-10-06 05:22] datawookie opened #84 "GPG/PGP Encryption & Signatures"
**Requirements:** Add the ability to (1) sign and/or (2) encrypt the contents of an email using PGP/GPG.

The [`{gpg}`](https://cran.r-project.org/web/packages/gpg/vignettes/intro.html) package might be a useful starting point.

[2021-10-06 05:29] datawookie opened #85 "Comments & Keywords Header Fields"
**Requirements:** Add the `Comments:` and `Keywords:` header fields.

More information on these fields can be found in [RFC 5322](https://www.rfc-editor.org/rfc/rfc5322.html).

You'll need to:

1. add a `comments()` function in `R/header-mail.R` and
2. add a `keywords()` function in `R/header-mail.R`.

Since the `Keywords:` field can accommodate a comma-separated list of items it would make sense

[2021-10-06 08:06] #81 closed, assigned to nobody

[2021-10-06 08:07] #79 closed, assigned to nobody

[2021-10-06 08:27] ghost commented on #83
The problem has been solved with the help and kindness of @datawookie. I was using an old version of the package and the problem was caused by the presence of BareLine that my email server didn't accept to send or receive. After having updated the package, the problem disappeared.

For people interested, here are 2 links to understand the problem better :

https://docs.microsoft.com/en-us/exchange

[2021-10-06 08:27] #83 closed, assigned to nobody

[2021-10-07 15:53] datawookie opened #86 "Invalid URLs in README"
**Requirements:** Fix the two URLs in `README.Rmd` which are getting flagged by CRAN checks.

[code]

[2021-10-07 16:12] DarkSoul26 commented on #86
Shall I fix this?

[2021-10-07 16:21] datawookie commented on #86
For sure, that'd be great! Thank you.

[2021-10-10 05:17] Swechhya commented on #85
@datawookie If no one is working on this I can take this up.

[2021-10-10 09:22] datawookie commented on #85
Yes, please, @Swechhya. That would be great.

[2021-10-14 04:22] datawookie opened #90 "Language Header Field"
**Requirements:** Add the `Language:` header field.

Should be able to:

- explicitly specify language or
- autodetect language (possibly using the `{textcat}` package or something similar).

Suggested API:

[code]
[code]

Thinking is that `language()` might return a function which is then applied to the result from `text()` before it returns.

[2021-10-14 04:32] datawookie commented on #85
WIP at https://github.com/datawookie/emayili/pull/88.

[2021-10-18 13:44] Axiematic commented on #86
@datawookie just had a quick look at these, both URLs are actually valid. I think CRAN is flagging them because they require you to be signed in to access them.

If I sign out of Yahoo/AOL  and follow either of the links above I am redirected to a sign-in / sign-up page. If I am signed in they work no problem.

[2021-10-18 14:14] datawookie commented on #86
Hmmm. If they require login to access the information then maybe we should create a local summary of the content? This would mean that:

1. CRAN would no longer moan about links.
2. People wouldn't have to leave the page in order to peruse the relevant information.

It could be included in `README.md` or put into a separate file.

[2021-10-20 11:52] ColinFay commented on #86
Possible explanation: they are redirects ?

[code]

[code]

[2021-10-20 12:05] datawookie commented on #86
Yeah, @ColinFay! I think you are right. @Axiematic do you want to fix this for your Hacktoberfest contribution? Colin assuming that you are happy to let Emma nab this low hanging fruit?

[2021-10-20 12:21] ColinFay opened #92 "Idea: add support for htmltools outputs"
First of all, thanks for this. really nifty!

I would love to be able to natively support `{htmltools}` output for the `content` part of the email.

[code]

Same with a simple tag:

[code]

[code]

Seem to work but casting in character might not be perfect :/

I wonder if `html` could do something like:

[code]

[code]

As usual, happy to PR :)

[2021-10-20 12:25] ColinFay commented on #86
Sure, no pblm!

[2021-10-20 15:35] datawookie commented on #92
Hi @ColinFay, yes! This is a great idea and I really like the fact that you'd be able to build the HTML in a structured, programmatic way rather than just dumping a great big string of HTML text.

I was wondering whether we could do away with the `tagList()` though and expose an interface that would allow you to simply do something like this:

[code]

WDYT?

[2021-10-20 19:11] ColinFay commented on #92
I'm all for it, but that seems like a breaking change?

I mean, `html("this", "that")` won't work anymore for anyone assuming `"that"` is for `content`?

Otherwise, that's pretty much doable via `...`.

OTOH, I suppose that if one is using `h2("this"), p("That")`, they're coming from `{shiny}`, so they are pretty much familiar with `tagList()`.

Anyway, whatever option you like the best is good wi

[2021-10-20 20:40] philibe commented on #92
IMHO, I think me too than `tagList()` is a better solution than `html()` if we use shiny and emayili in the same software :)

But it's true, my last emayili software was not in shiny, but maybe later.

[2021-10-21 02:57] datawookie commented on #92
Okay, how about a compromise?

Adapt `html()` so that it can handle a list as its first argument. If it's just a plain list then coerce to a `tagList`. Then apply something like @ColinFay's `taglist_to_char()`.

[2021-10-21 03:27] datawookie commented on #92
I have quickly implemented this on the `htmltools` branch. Do you want to take a look and see if it does what you want? If you're happy with the functionality then the only outstanding thing is to update the test suite.

[2021-10-21 06:28] ColinFay commented on #92
Ah, i was about to do a PR 🙊

Will have a look

[2021-10-21 09:26] datawookie commented on #92
Sorry, I just started playing with this and realised that it could be implemented quite quickly and easily. Very likely your implementation would have been neater than mine, so please feel free to amend. Also we need some tests... If you feel inclined to write those, that would be great too!

[2021-10-21 11:37] ColinFay commented on #92
Great :)

i will do a PR then with code implementation + tests + doc !

btw I'll be building a shiny app for a client that sends email via smtp so I'll probably be back on this repo a couple of times in the near future ;)

[2021-10-21 12:30] datawookie commented on #92
Feel free to leverage the content on the `htmltools` branch.

Magic! Thrilled to hear that you'll be using this in a client project. Let me know if you run into any issues or if there are any features you'd like implemented.

[2021-10-22 05:43] #92 closed, assigned to nobody

[2021-10-22 05:43] datawookie opened #95 "Fix failing tests"
When @ColinFay runs the test suite the following tests failed. These tests pass on my local machine and also in GitHub Actions. We need to improve the tests so that they are more robust. Specifically:

- test for `{cld2}` or `{cld3}` being installed
- enforce consistent timezone and
- conditionally test SSL (can we do this with another service, not Gmail)?

[code]

[2021-10-23 04:49] datawookie commented on #95
Hi @ColinFay, I think I have cleared up this issue now. Would you mind trying the tests in the `test-ssl` branch locally on your machine? Thanks, Andrew.

[2021-11-11 09:19] datawookie opened #98 "Request read receipt"
This would be the `Disposition-Notification-To:` header.

[2021-11-17 14:47] smach opened #99 "Do you know if emayili works with Microsoft365R?"
Do you know if rendering R Markdown works with the [Microsoft365R package](https://github.com/Azure/Microsoft365R)? I've also asked on their GitHub, since they say their package works with emayili, but I can't get it to work even with basic html.  I figured it was also worth asking you in case you knew. Code in their unit tests of

[code]

gives me this error:

`Error: $ operator is invalid for at

[2021-11-17 17:43] datawookie commented on #99
Hello Sharon, I'm Andrew or datawookie.

[2021-11-17 17:43] datawookie commented on #99
Hi @smach,

Your code has two distinct statements. Can you please tell me which of them is generating the error?

I assume that it's not this:

[code]

because that's a perfectly standard call to `{emayili}`.

What is `folder`? Without that context it's difficult to know where the problem might be.

Thanks, Andrew.

[2021-11-17 19:02] smach commented on #99
Hi Andrew. I watched your BirminghamR video last night and was hoping I might be able to figure out how to use this with corporate Outlook. Sorry, "folder" is the Microsoft365R object that authenticates with your Outlook, and then you should be able to send the email message with the send method. Probably a question for them. I thought you might know about it because Microsoft Azure says their pac

[2021-11-18 11:29] datawookie commented on #99
Hi Sharon,

Aha! Okay, I found the bit of code in the tests that you were working from.

Here's a slightly more complete example for reference:

[code]

However, unfortunately, the support in `{Microsoft365R}` is based on a very old version of `{emayili}`. A bit of work would be required to get it compatible again.

I feel that the API of `{emayili}` has now stabilised, so it would be a reasonable

[2021-11-29 19:37] andrewsrs opened #100 "Upgrading to 0.6.7 messes up html emails"
With  0.5.0 this:

[code]

produces

        Date:                     Mon, 29 Nov 2021 19:15:52 GMT
        X-Mailer:               {emayili}-0.5.0
        MIME-Version:      1.0
        To:                          xxxxxxx@xxx.xxx
        From:                     yyyyyyy@yyy.yyy
        Subject:                  test110
        Content-Type:                        text/html; charset=utf-8

[2021-12-01 06:46] datawookie commented on #100
Hi @andrewsrs,

Thanks for bringing this to my attention. I believe that this is now fixed in ce1b6ef726f001d7e03a034254e7850372fbe0f4 (v0.6.8). Please can you install from GitHub and test?

[code]

Thanks, Andrew.

[2021-12-01 06:46] #100 closed, assigned to nobody

[2021-12-01 08:52] datawookie opened #101 "Long Lines with Quoted-Printable encoding"
Write tests to ensure that fix for https://github.com/datawookie/emayili/issues/100 works.

Example HTML email body would contain long lines.

Want to check that:

- Long lines are split appropriately (end with `=`).
- Short lines are not messed with.

[2021-12-01 08:52] datawookie opened #102 "Encryption"
Write tests to ensure that encryption feature works.

- [x] Encrypt
- [x] Include public key
- [x] Signature

[2021-12-01 08:53] datawookie opened #103 "Can sign message without encrypting"
Make it possible to sign a message without encrypting.

[2021-12-01 08:55] datawookie opened #104 "Encryption"
Add documentation for encryption feature.

[2021-12-01 17:57] dominicroye opened #105 "Encoding issues when using markdown"
Hi!

I have found an encoding issue when using Spanish symbols like accents; for instance, "Desde el comité organizador" looks like "Desde el comitÃ© organizador" with a markdown document encoded in UTF-8. I could find the origin in readChar() from read_text() function. If I use readLines it works fine for me. I am using Windows.

Have you any idea how to get a workaround?

Thank you very much! Co

[2021-12-01 19:06] datawookie commented on #105
Hi @dominicroye!

Let's fix this! I don't want Spanish users to have a poor experience. Can you please provide me with some data to work with. Maybe an example as a REPREX? Also can you please tell me what locale you are working with?

Thanks, Andrew.

[2021-12-02 11:14] dominicroye commented on #105
Hi @datawookie.

Thank you for your reply. I made a smaller example on my GitHub: https://github.com/dominicroye/emayili_congress_aec

I just got it right on RStudio Cloud. It seems to be an issue with Windows as always. My Locale is:

[code]

[2021-12-02 17:22] datawookie opened #106 "Extra headers for signed messages"
![image](https://user-images.githubusercontent.com/6134409/144470177-4670fd2b-b019-4ec9-a2bc-7cb48e4d56ff.png)

[2021-12-05 04:29] datawookie opened #107 "Encryption tests on GitHub Actions with macOS"
The encryption tests (`test-encrypt.R`) don't work on GitHub Actions with macOS.

This is what the error message looks like:

[code]

Some leads which might be useful for solving this problem:

1. Problem with where the keyring is being created. Maybe we don't have write access?
2. Problem with gathering passphrase. Maybe the operating system is trying to get a passphrase by launching a dialog, wh

[2021-12-07 03:33] datawookie commented on #84
Functionality added in v0.7.0.

[2021-12-07 03:33] #84 closed, assigned to nobody

[2021-12-08 05:06] datawookie commented on #105
Hi @dominicroye, that example link you posted doesn't seem to work anymore. I'm looking at this issue now and it would be helpful to have an example to focus on. Thanks, Andrew.

I tried to recreate the problem based on the information that you have provided and I'm having trouble replicating it (even in my default locale).

[code]

I also tried with a Spanish locale.

[code]

And the `es_ES.utf8`

[2021-12-08 10:52] dominicroye commented on #105
It is a strange thing, since your code works for me too, but not when I use the external markdown document.

[code]

Here using the markdown document you can find on GitHub:

[code]

I guess the issue is maybe related to reading the markdown document?

[2021-12-08 14:58] datawookie commented on #105
Aha! Okay, that helps. The document which you linked to on GitHub doesn't appear to be there anymore, @dominicroye. Can you check the URL, please? This is what you included above: https://github.com/dominicroye/emayili_congress_aec, but now it gives a 404 error.

[2021-12-08 14:59] datawookie commented on #105
Also, now that I understand the problem better this should be a quick fix!

[2021-12-08 16:30] dominicroye commented on #105
The markdown document is this one https://github.com/dominicroye/emayili_congress_aec/blob/main/msg.md ;-)

Thank you!!

[2021-12-08 17:27] datawookie commented on #105
Hi @dominicroye, cool! Thank you. Okay, can you please install this version and test?

[code]

If that sorts the problem then I'll merge into `master`.

Thanks, Andrew.

[2021-12-08 19:35] datawookie commented on #105
Also I couldn't open that document. Perhaps it's in a private repository?

[2021-12-09 10:35] dominicroye commented on #105
Hi! Sorry, yes the repository was private. Now you can access the markdown document. Below you can see that it still doesn't encode correctly.

[code]

[2021-12-09 14:47] datawookie commented on #105
Thanks, @dominicroye. Weird because it works 100% fine for me... but I'm on Linux.

I'm puzzled though. You mentioned earlier that this works fine for you when using `readLines()`. The revised implementation on the branch that I pointed you to is now using `readLines()` rather than `readChar()`. Can you please show me the precise code which you ran to successfully load this content without encodin

[2021-12-09 15:16] pnacht opened #108 "When will a new version be available on CRAN?"
I've been using a relatively old version of `emayili` (0.4.10) and it worked just fine.

However, when I then updated to 0.6.1, the current CRAN version, my code stopped working:

[code]

The above works perfectly fine in 0.4.10 but hangs in 0.6.1, until it eventually throws an `Error: Request failed after 5 attempts`. I've tried comparing the source code to see what changed and if I had to do som

[2021-12-09 16:47] datawookie commented on #108
Hello Pedro,

...

Best regards, Andrew.

[2021-12-09 16:50] #108 closed, assigned to nobody

[2021-12-09 16:56] pnacht commented on #108
Hey Andrew, I assume that message was supposed to contain some more information?

[2021-12-09 17:13] datawookie commented on #108
Hi Pedro, no, not really. It just was a template for the way that I prefer to interact with people. So, getting back to your question, I've just added some new features to the package and am busy ironing out an issue with Spanish encoding on Windows. When that's all sorted I'll put a new version on CRAN. Should be some time next week. Best regards, Andrew.

[2021-12-11 06:09] datawookie commented on #105
Hi @dominicroye, can you please get back to me about :point_up:? I'd like to resolve this issue. I'm waiting to get this sorted before pushing a new version to CRAN. Can you either get back to me soon (by Monday) or I'll have to postpone this until a later release. Thanks, Andrew.

[2021-12-11 14:35] dominicroye commented on #105
Hi @datawookie! I just tried the changes without change. But when I read directly the "msg.md" file with readLines and the argument encoding = "UTF-8" it worked fine.

`readLines("msg.md", encoding = "UTF-8")`

Could be related to the wrong encoding?

Many thanks!

[2021-12-11 14:47] datawookie commented on #105
Ah, I think that's a pretty important detail you failed to mention!

[2021-12-11 15:15] datawookie commented on #105
Hi @dominicroye, made a quick tweak based on your information :point_up:. Can you please install again from the same source and test? Feeling optimistic. :smile: Thanks, Andrew.

[2021-12-11 16:24] dominicroye commented on #105
Yes! It worked! Thank you very much. :-)

[2021-12-12 13:13] #105 closed, assigned to nobody

[2021-12-21 00:20] wmcraver commented on #100
I am not sure if @andrewsrs issue was resolved, but I just updated the emayili package today and am experiencing this issue.   We use this package to send a weekly digest email to our teams. The email contains long strings of text.  It looks like it breaks the line at 76 characters, inserting an equal sign. I've tried updating the package from GitHub.
![emayili message equal sign](https://user-ima

[2021-12-21 05:33] datawookie commented on #100
Hi @wmcraver,

Does this actually have any adverse effect on the received email? The reason for the 76 character line length, where longer lines are wrapped and terminated with a `=` is that HTML content is using [quoted-printable encoding](https://en.wikipedia.org/wiki/Quoted-printable).

For example:

[code]

If I print the raw content of the message then this is what I see:

[code]

However, if

[2021-12-21 14:00] wmcraver commented on #100
For me, whenever there was an "=" inserted into the contents, it came through in the email messages.  It also appeared to replace the 77th character. Sometimes it replaces a part of an html line break or converts a gt or lt sign to gt or equal to, other times it's just consumes a space.

<img width="970" alt="Screen Shot 2021-12-21 at 6 53 59 AM" src="https://user-images.githubusercontent.com/6223

[2021-12-21 18:56] datawookie commented on #100
Hi Mitch (@wmcraver), I'm happy to help, but you're going to have to provide me with a reproducible example. Unfortunately, a screenshot doesn't help me to debug any problems. I'd also need to know what OS and version of R you are running. Thanks, Andrew.

[2021-12-22 15:18] wmcraver commented on #100
Sorry for the delay.

R Version: R 4.1.2 GUI 1.77 Big Sur ARM build (8007)
RStudio Version: 2021.09.1 Build 372
Emayili Version: 0.7.0 (from CRAN)
OS: Mac OS 12.0.1 (MacBook Pro 16" M1) also problematic on my work machine (Mac mini M1 same OS)

message body:
`"<b>Here are the latest updates for our XXXXXX team:</b><p><font style='font-family: Helvetica Neue, Helvetica, Arial, sans-serif;'><b>From

[2021-12-22 17:22] datawookie commented on #100
Hi Mitch (@wmcraver),

Thanks but

Please send me the code that you are using.

Please can you clarify? So it's working fine with 0.7.1? How are you "send the same message with my office365 credentials"? Please help me to help you by providing a self-contained reproducible example of the code that is causing the problem.

Also, looking at the screenshot of the email :point_up: it seems fine to me.

[2021-12-22 17:47] wmcraver commented on #100
Your package (v0.7.1) appears to work perfectly when using SMTP Bucket. It does not work for me (on two separate computers) when using the same envelope, but with Office365 as the SMTP host (instead of SMTP Bucket).

I'm not sure what I can do to provide you with a self-contained reproducible example as it appears to be something Office365 is doing when it sends the email. I've provided all that I

[2021-12-22 18:03] datawookie commented on #100
Hi @wmcraver,

If you can't provide me with a (trimmed down and obfuscated if necessary) version of the code that you are running then I'm afraid I can't help you.

Unless I've missed something, you have not provided me with the code that you are running! By all means strip out anything sensitive (like credentials and server addresses), but please send me the code.

Are you just using `{emayili}`

[2021-12-22 18:10] datawookie commented on #100
Hi @wmcraver, it would be helpful for me to see how the message is being mangled. Can you please send me an email using your setup? You can find my address in `DESCRIPTION`. Thanks, Andrew.

[2021-12-22 18:10] wmcraver commented on #100
It's not like I'm doing something magical to build the msgBody.  Below is your requested code sample.

[code]

[2021-12-22 18:16] datawookie commented on #100
True. But now I don't need to _guess_ what you are doing.

Please send me an email message so that I can delve into the contents.

[2021-12-22 18:19] datawookie commented on #100
Just run your code, replacing your SMTP server with my GMail details and it went through 100% fine. So let me see how this looks when you send it.

[2022-01-05 07:59] CloudStriderGames opened #112 "[BUG]: Attaching a pdf succesfully sends a mail, but causes RStudio/Shiny Application to freeze for a long time"
### Description of the bug

Hello, sadly I can't provide much of a log, as RStudio becomes unusable once this happns.

I wanted to send a mail with a PDF attachement. Previously I tested emayili with the given example of mtcars.csv. That worked like a charm.

So I tried another file type for once. A PDF to be precise. After running the Shiny app and clicking the button to send the email I actually

[2022-01-05 09:28] datawookie commented on #112
Hi @CloudStriderGames,

Thanks for this. A little more information would be helpful:

1. What version of `{emayili}` are you using? Did you install from CRAN or GitHub?
2. Please show me the snippet of code from your app where you are sending the message.

Thanks, Andrew.

[2022-01-05 09:51] CloudStriderGames commented on #112
Thanks for the quick answer:

0.7.0  (CRAN Version)

[code]
Censored some information of course

[2022-01-05 10:09] datawookie commented on #112
Naturally. :)

Have you tried replacing `smtp(email, verbose = TRUE)` with `smtp(email)`?

[2022-01-05 10:29] CloudStriderGames commented on #112
That accelerated it a lot. Silly of me. But thank you very much for the help!

[2022-01-05 10:35] datawookie commented on #112
Well I suspect that any remaining latency is due to communication with the SMTP server and not due to `{emayili}`.

I'm going to remove the bug tag because this really wasn't a bug! :)

[2022-01-05 10:36] #112 closed, assigned to datawookie

[2022-01-18 09:04] CloudStriderGames opened #113 "[BUG]: Sending E-Mail does not work on Shinyapps.io Server"
### Description of the bug

Hello, sadly I don't have much of an Error log, but sending an email works if I run the App locally in RStudio, but if I try the same functionality when the app is hosted on ShinyApps.io it crashes after 5 attempts. Might this be something with my gmail security settings? Could there be another reason.

Sorry for this shoddy Report, but on the server there is very littl

[2022-01-20 06:53] datawookie commented on #113
Hi @CloudStriderGames, you should find that `{emayili}` works well within a Shiny app. I suspect that the problem lies in how you are managing your cedentials. I've added [a short post](https://datawookie.dev/blog/2022/01/emayili-sending-email-from-shiny/) on my blog which should hopefully help. Let me know if you still have trouble.

If you have adjusted this setting in your Gmail account and are

[2022-01-20 06:53] #113 closed, assigned to datawookie

[2022-01-31 09:37] AdaemmerP opened #114 "[BUG]: Cannot send mails anymore via hotmail"
### Description of the bug

I am running a small shiny app on shinyapps.io, which also sends an email at the end using *emayili*. The app ran perfectly well for months until some days ago. Now, I can neither send an email via the Shiny App anymore nor locally/manually from my Computer.

### Steps To Reproduce

[code]

### Additional Information

I am using:
- Debian GNU/Linux 11 (bullseye)
- R ver

[2022-01-31 10:03] datawookie commented on #114
Hi @AdaemmerP, thanks for the bug report. Did you read the log messages though?

I suspect that this is the source of the problem: "Hostname smtp.live.com was found in DNS cache". This is not an `{emayili}` problem, but rather a networking problem (your Shiny app is unable to send messages to that DNS name).

When I try doing that DNS lookup locally I get the IP address that is being attempted.

[

[2022-01-31 10:03] #114 closed, assigned to datawookie

[2022-01-31 10:42] AdaemmerP commented on #114
Dear Andrew,

Thanks for the quick reply! Yes, I saw it and also used 'nslookup', but I was confused because I got the same error message when trying to send an email via gmail using the suggested host name. So basically 'host = smtp.live.com' is outdated and has to be changed in 'emayili::server(...)' to fix the problem?

Again, thanks for your quick response and great package.
Best regards,
Phil

[2022-01-31 10:50] datawookie commented on #114
I guess that there are a few options:

1. There's some sort of networking issue on shinyapps.io.
2. There's a DNS issue (the DNS name is no longer returning the correct IP address).
3. There's a problem with the SMTP server.

I'm not sure that I understand what you mean. Do you mean that you got a similar error when trying to send email via `smtp.gmail.com`?

[2022-01-31 13:19] AdaemmerP commented on #114
Thanks!
Changing the host to 'smtp.office365.com' now allows me to send emails locally. However, the Shiny App is still not working. It seems that it does not recognize the password when using "password  =  Sys.getenv("pwd")" in "emayili::server(...)".
Yat manually typing the password also works for the Shiny App.

I had an authentication problem with "smtp.gmail.com" but I could solve it now.

[2022-01-31 14:03] datawookie commented on #114
@AdaemmerP maybe take a look at this blog post: https://datawookie.dev/blog/2022/01/emayili-sending-email-from-shiny/.

[2022-01-31 15:57] AdaemmerP commented on #114
The whole time my shiny app ran like your example with the exception that I only saved my password in '.Renviron'. However, shiny apparently does not find '.Renviron' anymore because Sys.getenv("pwd") is empty.

[2022-02-01 19:16] 2ndmax opened #115 "[FEAT]: Comma-separated display name"
### Description

Hello, in my company the display name of an e-mail address is comma-separated, e.g. 'Smith, Quentin <test@domain.com>'. When I provide a display name in that format, the emayili functions seem to treat that comma as a separator for multiple addresses or display names.

I understand that addresses can be provides in multiple formats, e.g. as separate strings, vectors or a single co

[2022-02-02 06:41] datawookie commented on #115
Hi @2ndmax,

No problem. I've added an additional argument to the `as.address()` function.

[code]

This update is only available on GitHub for the moment. Would you mind please testing and letting me know if this resolves your issue?

[code]

Thanks, Andrew.

[2022-02-02 08:27] 2ndmax commented on #115
Hi @datawookie

Thank you for your kind reply. It works for the as.address() function as I would expect it.

I would additionally recommend to make this splitting argument available for the higher level functions to(), cc() and bcc(), so they can pass this argument to as.address(). Right now an address object can be created using as.address(), but if this is passed on to to(), cc() or bcc(), this

[2022-02-02 17:08] datawookie commented on #115
Hi @2ndmax,

Aha! Good point.

I've implemented the required changes and pushed them to GitHub. I'd appreciate it if you did some testing and let me know how well it works for you.

Thanks, Andrew.

[2022-02-02 19:28] 2ndmax commented on #115
Yes, that works wonderful - thank you! :-)

However - I encountered some behavior in another function, that was different before. The combination of address() and to() leads to a break in the headers that should not be there. That happens even if I do not provide any special character in the display name.

The address() function itself seems to produce the same output as before - so far I do not k

[2022-02-03 19:37] datawookie commented on #115
Hi @2ndmax, thanks for spotting that. I've implemented a fix, which is available on the `address` branch. Would you mind testing, please? Thanks, Andrew.

You can install as follows:

[code]

Similar code to your screenshots:

[code]

[2022-02-03 20:51] 2ndmax commented on #115
Hello @datawookie, I tested it and it works fine.

Thank you for implementing this. That makes things a little easier for me :-)

Thanks, Maik

[2022-02-23 06:13] datawookie opened #116 "Extend email address validation"
Can we do something like [this](https://stackabuse.com/validate-email-addresses-in-python-with-email-validator/)?

[2022-02-23 21:32] mos790 opened #117 "No known authentication mechanisms supported! in RStudio server"
Hello,

Thanks for this awesome package.

I tried to send some email (Outlook messages) in local with Rstudio, all works well !
But when I switch to Rstudio server (opensource), the same script doesn't work with the following message error `No known authentication mechanisms supported`

Do you know how I can solve this ?

**Code**

[code]

**Error:**

[code]

Thanks

[2022-02-24 05:09] datawookie commented on #117
Hi @mostafa790, there is no reason that `{emayili}` should not work from within Shiny. Have you had a look at [this](https://datawookie.dev/blog/2022/01/emayili-sending-email-from-shiny/)? Thanks, Andrew.

[2022-02-24 05:09] #117 closed, assigned to nobody

[2022-03-07 02:17] asalavaty opened #119 "Sending email based on Gmail API"
### Description

Hi Andrew. I am requesting this feature concerning recent Goggle announcements. Your package is indeed one of the best and most straightforward packages for sending email through R and it easily fits with shiny apps. Though, as you know Google recently announced that they will make the SMTP service unavailable. "**On May 30, you may lose access to apps that are using less secure s

[2022-03-08 06:36] datawookie commented on #119
Hi @asalavaty, thanks for getting in touch. It seems that this is not going to be a huge issue. I wrote up a [quick article](https://datawookie.dev/blog/2022/03/updated-gmail-authentication/) explaining how to work around it. Please let me know if you have any trouble or if there's anything unclear in the post. Thanks, Andrew.

[2022-03-08 06:39] #119 closed, assigned to nobody

[2022-03-12 20:18] StatisMike commented on #119
@asalavaty I want to add something to the mix regarding sending e-mail through gmails Google API.

Way to setup email-sending through REST API calls is provided with [`gmailr`](https://github.com/r-lib/gmailr) package. But - I don't really recommend using it that way. I provide support for it in [`shiny.reglog`](https://github.com/StatisMike/shiny.reglog), but especially as I am now redesigning th

[2022-03-13 14:28] datawookie commented on #119
@StatisMike thanks for this. Yes, I had a look at the API approach but decided that it would be better to stick with the clean SMTP authentication approach (just because it works with pretty much every other email service). Appreciate your perspective on this. :+1:

Such a pleasure. I really enjoy working on this. If you have any suggestions or requests, please just create an issue.

[2022-03-13 23:22] asalavaty commented on #119
Hi @datawookie Thanks for the prompt reply and for sorting out the issue. Your solution worked flawlessly!

[2022-03-13 23:25] asalavaty commented on #119
Hi @StatisMike Thanks for your suggestions. Yes, I tried gmailr as well but it has many complications that make it hard to establish a long-lasting emailing pipeline. Indeed emayili is super straightforward and easy to implement.

[2022-03-19 10:20] philibe opened #120 "[Question]: Not an emayli bug, but why it works with emayli and not with other not completely ! :)"
### Description of the bug

Hello.

## The fact with emayli :)

I use your emayli R package to send automatic alert email via smtp, 465 port,  login, password, and everything works fine since months and months.

[code]
where email_from is `robots@mysociety.fr`, ie not myisp but it works with our email provider, and email_to is `someone2@mysociety.fr`, or
`someone3@gmail.com`. And everything works

[2022-03-19 10:24] philibe commented on #120
( I tried to change the label to question or something like that, but I didn't found it)

[2022-03-19 10:36] datawookie commented on #120
Hi! Can you send me an email using both processes and I'll take a look at
the headers. You can find my email address in the DESCRIPTION file. Thanks,
Andrew.

On Sat, 19 Mar 2022, 10:20 philibe, ***@***.***> wrote:

[2022-03-19 12:25] philibe commented on #120
Thanks. I will do that Monday.

[2022-03-20 11:28] ajo1993 opened #121 "Authentication going forward"
Hi,

I don't know if you've seen this message from Gmail but it seems like Gmail will not support email authentication using third party sites from May 2022 (currently emayili is still working). Emayili seems to have stopped working in the case of Outlook already. It was working fine in January but now just getting the below error:

TCP_NODELAY set
Connection timed out after 10000 milliseconds
Clo

[2022-03-20 14:16] datawookie commented on #121
@ajo1993 does [this](https://datawookie.dev/blog/2022/03/updated-gmail-authentication/) help?

[2022-03-21 12:26] philibe commented on #120
Our ISP changed a few weeks ago, and  in fact  the last automatic mail (by emayli), not frequent, was yet warned by gmail..

I changed stmp server but I have problems with ssl and certifcates (Ubuntu 20).

I am studying this :)

[2022-03-21 16:24] datawookie commented on #120
Okay, cool. If you want me to delve into this then please send me an email using both processes as mentioned above. I'm going to close this for the moment. If you want to resume, please reopen the issue. Thanks, Andrew.

[2022-03-21 16:24] #120 closed, assigned to datawookie

[2022-03-21 20:52] ajo1993 commented on #121
Ah apologies hadn't seen that, yes thanks a lot!

As for Outlook, do you know if there is some setting that can be changed to make emayili work? There is no "Less secure apps" equivalent there I think. Thanks

Alessandro

[2022-03-22 04:49] datawookie commented on #121
@ajo1993 I'm confused by this issue. You seem to be talking about Gmail authentication (and the screenshot definitely pertains to Gmail) but now you are asking about Outlook. These seem to be two distinct issues. Regards, Andrew.

[2022-03-22 04:49] #121 closed, assigned to nobody

[2022-03-23 16:35] 2ndmax opened #122 "[FEAT]: Encoding of non-ASCII characters in display names and subjects"
### Description

Hi @datawookie!

I have another suggestion regarding the encoding of display names and e-mail subjects. In German we use 'Umlaute' and other characters, which are not part of US-ASCII. I understand that it is not standardized to use any other characters than ASCII in display names and e-mail subjects, but usually e-mail clients wrap display names and subjects in encoding strings,

[2022-03-24 17:34] datawookie commented on #122
Hi @2ndmax,

Thanks for bringing this issue to my attention. It's always interesting to learn about issues that pertain to languages with characters outside of the narrow ASCII space used by English!

I've implemented a simple fix in the `utf-8` branch. Could you please test and provide me with some feedback? I'm aware that the display of the addresses in R is now not very pretty, but I was focusi

[2022-03-25 07:11] datawookie commented on #122
**Update:** Have sorted out the aesthetics too now. Please give me your feedback on this feature today if possible, @2ndmax? Thanks.

[2022-03-25 07:53] 2ndmax commented on #122
Hello @datawookie,

thanks for taking up this task :-)

I just pulled the utf-8 branch from github - but unfortunately it does not work. When I input something like

`address(email = "hans@gmail.com", display = "Hansjörg Müller")`

or even some Japanese characters like

`address(email = "hans@gmail.com", display = "美味しい")`

the output is just

`[1] "Hansjörg Müller <hans@gmail.com>"`
`[1] "美味しい <h

[2022-03-25 09:17] datawookie commented on #122
[code]

The extra `encode` argument is to ensure that the display name is still rendered "normally" in the console but is encoded when you _send_ the message (which is, I believe, the time when it needs to be encoded).

[2022-03-25 09:33] Ni-Ar opened #123 "[FEAT]: SendInBlue Support"
### Description

Hi,

I'd be interested in trying your package. Any idea when SendInBlue will be supported as stated at the bottom of [this blog post](https://datawookie.dev/blog/2021/10/emayili-support-for-gmail-sendgrid-mailgun/)?
Thanks!

[2022-03-25 09:36] datawookie commented on #123
Already supported. See `sendinblue()` in current CRAN release. Feedback welcome.

[2022-03-25 09:36] #123 closed, assigned to nobody

[2022-03-25 09:37] Ni-Ar commented on #123
oh great, sorry, I didn't read the doc well enough!

[2022-03-25 09:38] 2ndmax commented on #122
Absolutely right. I just tested sending a message, and that works fine! The display names are utf-8 wrapped if needed.

I do not want to push my luck, but could you do the same for the e-mail subject? That might contain non-ASCII characters as well. After that every part of the e-mail header and body should be able to handle non-ASCII characters.

Bye, Maik.

[2022-03-25 15:37] datawookie commented on #122
Ah, you cheeky devil! :) I'll get onto that now.

[2022-03-25 16:11] datawookie opened #124 "Use observable class for addresses"
The requirements for https://github.com/datawookie/emayili/issues/122 have been implemented. However, in order to aid in maintainability it would be good to use the `observable` class in both cases (display name and subject, not just display name).

**Strategty:** This can be done in the functions for adding addresses in same way that it's done in `subject()` by calling `encodable()`.

[2022-03-25 17:43] datawookie commented on #122
Okay, I think I have this working. Try something like this:

[code]

You'll need to add To and From addresses.

As with the display names, the encoding will only be applied when the message is _sent_, so the original (not encoded) subject will be visible when you look at the message in the console.

Let me know your feedback!

[2022-03-25 19:56] 2ndmax commented on #122
First: Props to you for finding a word that contains every Umlaut but has no useful meaning :)

Second: Yes, that works perfectly, thank you for your work!

Do you already have a plan for pushing this to the master branch?

Bye, Maik.

[2022-03-26 06:34] datawookie commented on #122
Merged in https://github.com/datawookie/emayili/pull/125.

[2022-03-26 06:34] #122 closed, assigned to nobody

[2022-03-26 10:28] bkmgit opened #126 "[FEAT]: Dependencies"
### Description

Would be helpful to indicate versions dependencies and versions tested on. On [CRAN](https://cran.r-project.org/web/packages/emayili/index.html) you have :

Imports: | base64enc, commonmark, curl (≥ 4.0), digest, dplyr, glue, htmltools, httr, logger, magrittr, mime, purrr, rmarkdown, rvest, stringi, stringr, tidyr, urltools, xfun, xml2
-- | --
Suggests: | cld2, cld3, gpg, here, ji

[2022-03-26 15:25] datawookie commented on #126
@bkmgit I think that this is a brilliant idea. I'm very much in favour of explicit versioning of dependencies. Would you like to kick off the process (perhaps starting with `{magrittr}`) and then submit a PR? Thanks, Andrew.

[2022-03-26 15:46] datawookie opened #127 "Use encodable for attachment file names"

[2022-03-26 16:48] datawookie commented on #124
Fixed in 3defe3828dc78f51310a513d1ee3026836e95d25.

[2022-03-26 16:48] #124 closed, assigned to datawookie

[2022-03-27 05:18] bkmgit commented on #126
Ok, https://r-pkgs.org/description.html#minimum-versions suggests to do this with care.  With magrittr version 1.5 one gets the error message `Error : 'pipe_nested' is not an exported object from 'namespace:magrittr'` when trying to install emayili 0.7.5, with 2.0.1 this error does not occur.

[2022-03-27 05:52] #126 closed, assigned to nobody

[2022-03-27 06:20] datawookie opened #129 "Use encodable to handle 'Last, First' display names"

[2022-03-27 06:50] datawookie commented on #115
Hi @2ndmax, I've made some changes to how I handle display names in the 'Last, First' order. Can you please test the latest version on the `master` branch to ensure that it still satisfies the issues raised here? Thanks, Andrew.

FYI: I'm using the approach that I used to handle non-ASCII characters to provide a neater solution to this problem.

[2022-03-27 08:37] datawookie commented on #127
Resolved in d2ae7e01c6e9e9e30c401d834610aa14080f54ee.

[2022-03-27 08:37] #127 closed, assigned to nobody

[2022-03-27 08:37] datawookie commented on #129
Resolved in 9c53a6a938a6dde1281e0efa3a551fd92c3cbfe1.

[2022-03-27 08:37] #129 closed, assigned to nobody

[2022-03-27 09:08] 2ndmax commented on #115
Sure, @datawookie.

I pulled the master branch and both comma separation and UTF-8 encoding work fine.

If you need additional testing, please let me know.

[2022-03-27 09:08] #115 closed, assigned to nobody

[2022-03-28 06:31] datawookie commented on #115
Wonderful. Thanks, @2ndmax, I've really enjoyed collaborating with you on these new features.

[2022-03-29 06:54] 2ndmax commented on #115
And thank you for taking on these challenges :-)

[2022-03-30 05:09] datawookie opened #130 "Email address normalisation"
- [x] lowercase the domain part of the email address
- [x] Unicode "NFC" normalization of the whole address
  - turn characters plus combining characters into precomposed characters where possible
  - replace fullwidth and halfwidth characters in the domain part
  - convert from Punycode to Unicode characters.

[2022-03-30 05:55] #130 closed, assigned to nobody

[2022-04-03 08:09] datawookie opened #131 "Multiple keys on keychain"
**Problem:** At present encryption breaks if there are multiple keys on keychain for a single email address.

[code]

**Solution:** Choose the key with the most recent timestamp. This might not be the _best_ solution, but it should work based on the logic that the most recently added key is more likely to be valid.

- [x] Generate _warning_ that there are multiple keys.
- [x] Select key with most

[2022-04-03 08:22] datawookie commented on #131
Fixed via a1953c2.

[2022-04-06 05:03] #131 closed, assigned to nobody

[2022-04-06 05:17] #116 closed, assigned to nobody

[2022-04-06 05:35] datawookie commented on #107
@matt-denni do you think you could help me with this? At present this test is disabled on Mac (`skip_on_os(os = "mac")`).

[2022-04-06 05:39] #106 closed, assigned to nobody

[2022-04-06 06:24] datawookie commented on #104
See fb1008f520826d375bf5d5d24cba3778f90c7537.

[2022-04-06 06:24] #104 closed, assigned to nobody

[2022-04-06 06:27] datawookie commented on #103
Already possible.

[2022-04-06 06:27] #103 closed, assigned to nobody

[2022-04-06 06:31] #102 closed, assigned to nobody

[2022-04-06 06:31] #99 closed, assigned to nobody

[2022-04-06 08:42] datawookie commented on #98
Already implemented.

[2022-04-06 08:42] #98 closed, assigned to nobody

[2022-04-06 15:10] matt-denni commented on #107
@datawookie I'm struggling to reproduce this issue on my system - key-pairs seem to be created with no issue and all tests in that file pass.  I'm on Mac OS 10.15.7.  I see you're using that you're testing on both MacOS 10.15 and 10.11.  Out of interest - does the test fail on both?  My GPG version is also 2.3.3.

[2022-04-06 15:38] datawookie commented on #107
OMG. This is very weird. I've just re-enabled those tests to find out whether they failed on one or the other (or both) versions of MacOS... and now they all pass. So this must have been something that they have fixed on the platform.

Thanks for your time looking at this, @matt-denni. And sorry to not have made this simple check before I asked (although I seriously am surprised that this has spon

[2022-04-06 15:38] #107 closed, assigned to nobody

[2022-04-06 16:24] #101 closed, assigned to nobody

[2022-04-06 16:24] #95 closed, assigned to nobody

[2022-04-06 16:25] #86 closed, assigned to nobody

[2022-04-06 16:41] #85 closed, assigned to nobody

[2022-04-06 16:53] #90 closed, assigned to nobody

[2022-04-07 03:27] matt-denni commented on #107
Great to know that everything is working! It's a pleasure, and thanks for the update @datawookie.

[2022-06-08 16:12] selesnow opened #132 "[FEAT]: store SMTP setting in local file"
### Description

Hi,

in README examples i was find:

[code]

But add and stored password in code is bad practice. Could you show example how stored SMTP settings in local file?

You can add a mechanism to store and read SMTP settings from a local file, if it exists.

[2022-06-08 17:08] datawookie commented on #132
Thanks for the suggestion, @selesnow. Fixed in 4eb3009cea9e24f9f8bfa1a49382ff1becdd0b81.

[2022-06-08 17:08] #132 closed, assigned to nobody

[2022-06-10 08:11] SamoPP opened #133 "[BUG]: "purrr_error_rate_excess" when calling"
### Description of the bug

Error in `stop_rate_excess()`:
! Request failed after 5 attempts
Backtrace:
    ▆
 1. └─mypackage::sendNotification(...)
 2.   └─emayili smtp(email, verbose = FALSE) at mypackage/R/utilities.R:615:24
 3.     └─purrr send_mail(...) at emayili/R/server.R:156:4
 4.       └─purrr::rate_sleep(rate, quiet = quiet)
 5.         └─purrr:::stop_rate_excess(rate)
 6.           └─r

[2022-06-10 08:55] datawookie commented on #133
Without further information I cannot help you.

- Have you tried setting `verbose = TRUE`? What does the output tell you?
- Have you tried setting `max_times = 1`?

[2022-06-10 08:55] #133 closed, assigned to datawookie

[2022-06-11 10:15] SamoPP commented on #133
For others who might get frustrated this solved my problem: https://stackoverflow.com/questions/67950293/how-to-fix-gmail-smtp-error-the-smtp-server-requires-a-secure-connection-or-th/72582417#72582417

[2022-06-12 06:08] datawookie commented on #133
This was addressed in a [blog post](https://datawookie.dev/blog/2022/03/updated-gmail-authentication/) too. I have referenced it from the `README`.

[2022-06-17 11:03] DavidL-H opened #134 "[BUG]: Cannot deploy to shinyapps.io"
### Description of the bug

I have a shiny app that uses Emayili. When I run it locally, it works as expected, but when I try to deploy it to my shinyapps.io account, it gives this error message:
[code]
Maybe I am missing something basic, but don't under why the error message is refering to a package "email" that is not installed.

### Steps To Reproduce

`ui.R`
[code]
`server.R`
[code]

### Addit

[2022-06-17 11:06] datawookie commented on #134
Looks like somewhere in the files which you are uploading to shinyapps.io you're referring to a package called "email". That's not an {emayili} problem though...

[2022-06-17 11:12] DavidL-H commented on #134
Thanks for the quick answer. I don't have much experience with Shiny apps, so sorry if this is the wrong place for the issue. But error message comes only when I have `library(emayili)` in the app (see steps to reproduce above). Nothing else is called other than `ibrary(shiny)`. When I comment out the library call and code related to emayili, it deploys just fine:
[code]

[2022-06-17 11:26] datawookie commented on #134
Sorry, but it seems to work for me. I've used the code you supplied and deployed to shinyapps.io. Evidently there's something in your project that is not included in the initial information that you sent me (the `ui.R` and `server.R` files).

![image](https://user-images.githubusercontent.com/6134409/174289535-1c6be696-39e1-421a-857d-131c5b5a3c0d.png)

[2022-06-17 12:04] DavidL-H commented on #134
Yeah, must be another issue then. Thanks for your quick help!

[2022-06-17 13:28] datawookie commented on #134
Do you have any other files in this project? Or is it just the `ui.R` and `server.R` files? And are they verbatim copies of the code that you provided in the original question?

[2022-06-19 08:06] DavidL-H commented on #134
I'm trying to use the emayili package for a larger shiny project, the deloyment of which stopped working when I included emayili. For the reproducible example I posted above, I have nothing else in the project, just the ui and server files. They are verbatim copies of what I posted.

[2022-06-20 04:05] datawookie commented on #134
Hi @DavidL-H, I'd like to help you resolve this problem. Do you have time for a quick call sometime this week? I'm full committed for the next two days, but I'll have time on Wednesday. Thanks, Andrew.

[2022-06-20 08:08] DavidL-H commented on #134
Thanks you very much for the offer @datawookie, I appreciate it, but I actually just found a work around, and now it works.
The original `server.R`
[code]
Gave an error when deploying to shiny, that it could not find package `email`. After some testing, it seems that shiny thinks that the `email` object being assigned the mail which is sent emayili, is a package, for some reason that I still don't

[2022-06-20 08:42] datawookie commented on #134
Very weird indeed. Well the original code worked fine for me (locally and on shinyapps). I'm guessing that we might be seeing different versions of shinapps (maybe they are doing some beta testing?). Your hack is very clever... but I think that this immediately indicates that something weird is going on in shinyapps and this is not an `{emayili}` issue!

[2022-06-20 08:42] #134 closed, assigned to datawookie

[2022-06-20 14:19] ScaonE opened #135 "Different mail rendering Outlook vs Gmail"
Dear all,

After asking Andrew about "duplicates policy", I allow myself to [link a related issue](https://github.com/rstudio/blastula/issues/289) I posted on another repository.

Best regards

[2022-06-20 14:21] datawookie commented on #135
Hi @ScaonE, please see [my comment](https://github.com/rstudio/blastula/issues/289#issuecomment-1160507011) on your other issue. Best regards, Andrew.

[2022-07-01 01:41] riskcede opened #136 "plumber using promises::future_promise"
### Description of the bug

Hi Andrew

I've been using Emayili for a while and it works perfectly, thank you.

I've recently updated my plumber script that sends out an email at the end to use the new future_promise to run multiple requests in parallel. But this provides an error when I try to send out the email.

"Unhandled promise error: argument `str` should be a character vector (or an object

[2022-07-01 05:10] datawookie commented on #136
Hi @riskcede,

This is an interesting error.

Firstly I observed that the error only occurs with the `multisession` plan. With `multicore` your code works fine.

By trial and error I discovered that I needed to be explicit about the package for the `envelope()` and `subject()` calls. Here's the revised code, which works for me. Note that I have factored out the username and password into environme

[2022-07-01 06:39] riskcede commented on #136
Hi Andrew

So was this just a namespace issue?

Ive changed to a multicore plan and it works perfect.

Thanks!!!!!

Regards
Jan

On 2022 Jul 01, at 07:10, Andrew Collier ***@***.***> wrote:

Hi @riskcede <https://github.com/riskcede>,

This is an interesting error.

Firstly I observed that the error only occurs with the multisession plan. With multicore your code works fine.

By trial and error I

[2022-08-02 13:27] pasipasi123 opened #137 "[BUG]: Umlauts in rmarkdown render are not displayed"
### Description of the bug

When rendering a Rmd file, umlauts are not displayed.

It is possible to render umlaut characters by rendering a character string with umlauts. `rmarkdown::render()` renders umlauts just fine. I can also display umlauts in the message by using `html()`.

### Steps To Reproduce

[code]
In `email1` `ä` turns in to `<e4></e4>` tag and so on.

### Additional Information

[c

[2022-08-02 16:00] datawookie commented on #137
Hi @pasipasi123,

I am not able to reproduce your issue. This is the code that I am running:

[code]

Below are screenshots from my email client showing the received emails.

![image](https://user-images.githubusercontent.com/6134409/182418603-7ab6f962-a893-4e4a-a6c4-c5283bd19eb8.png)
![image](https://user-images.githubusercontent.com/6134409/182418650-74c3e8f7-f440-4102-b963-135a915810e0.png)

In

[2022-08-03 09:13] pasipasi123 commented on #137
Thanks for looking into this.

I can reproduce my issue on another Windows machine, but not on a Linux machine. I've tried the latest CRAN version of `emayili` and the GitHub version with the same results.

I've also tried to change the locale to English, but that does not help. I removed the header from the Rmd to ease reprex creation and added the `rmarkdown` render bit to show that the Rmd file

[2022-08-03 16:18] datawookie commented on #137
Hi @pasipasi123,

Thanks for that. Unfortunately the email you sent wasn't very helpful. It basically just replicated what you show above. Not surprising, but it's good to have this confirmed.

This is tricky to debug because I can't reproduce the problem locally. However, what I hope to do it narrow down _where_ the problem is occurring in the code. To this end I have created a separate experimen

[2022-08-03 16:24] datawookie commented on #137
Incidentally, I have made some progress on understanding this:

[code]

Those mystery tags (`<f6>`, `<e4>` and `<e5>`) are actually the hex codes for those characters. Now I just need to figure out what's turning them into HTML tags.

![image](https://user-images.githubusercontent.com/6134409/182659884-725d92d1-84d1-4d18-8e0f-0587bd0405bd.png)

[2022-08-04 05:58] pasipasi123 commented on #137
I installed the umlaut branch and got this. I also ran the Rmd render with logger but it errors out on some formatting and advices `Please consider using another ``log_formatter`` or ``skip_formatter`` on strings with curly braces.`
[code]

Rendering the Rmd errors out quite early but we can see that the umlauts are already gone at the beginning.

[code]

[2022-08-04 06:56] datawookie commented on #137
Aha! Okay, the `.Rmd` approach is not going to work on this branch. Let's just focus on getting it working from a Markdown string. Can you please test sending from this branch.

Please take this basic message

[code]

and add a subject, then send it to me via `{emayili}`.

[2022-08-04 07:22] pasipasi123 commented on #137
Sending a markdown string with umlauts works fine. Do you still want it sent? Sorry if I wasn't clear in the beginning.

[2022-08-04 14:45] datawookie commented on #137
Hmmm. Yes, indeed, there was some misunderstanding there. Anyway, I understand what the problem is now. :)

I've pushed some more debugging code to that branch. Can you please install from GitHub again (using the same command as before, where the `umlaut` branch is specified).

Then please run the following code and add the results to this issue. Sorry, the output is messy, but it should hopefully

[2022-08-05 07:18] pasipasi123 commented on #137
I'm getting this.

[code]

[2022-08-05 09:27] datawookie commented on #137
Okay, we're getting somewhere now. :) I'll work on this later today. May need you to try some more things for me. Thanks for your patience. This is really not the ideal way to do debugging. But it's a good lesson in collaboration.

[2022-08-05 10:09] pasipasi123 commented on #137
I'm happy to help. Many thanks for your patience! Great package btw, it's a pleasure to use.

[2022-08-05 14:18] datawookie commented on #137
I think that this has something to do with the way that the `.Rmd` is being read from disk. Can you please send me the output from the following?

[code]

[2022-08-08 10:50] datawookie commented on #137
@pasipasi123 could you please send me the output from :point_up:? Thanks!

[2022-08-08 13:35] pasipasi123 commented on #137
Sorry, it took some time to get back into this. During the weekend I tried this with a third computer, my personal Windows 10 machine, and could not reproduce the original issue and therefore saw no reason to run any reprexes.

My default text encoding in Rstudio is UTF-8. Looks like I'm not writing UTF-8 though.

Here are 3 code chunks:

1) reprex of your code
2) same as above but with `options(e

[2022-08-08 16:18] datawookie commented on #137
Aha! Okay, so it looks like using `stri_read_lines()` with no encoding option should do the trick.

I have updated that test branch in the repository. Would you mind please running `remotes::install_github("datawookie/emayili@umlaut")` and then testing again? Thank you!

[2022-08-09 13:51] datawookie commented on #137
@pasipasi123 could you please try :point_up:? Thanks!

[2022-08-10 04:55] pasipasi123 commented on #137
I get encoding warnings but the umlaut characters seem to be there.

[code]

<sup>Created on 2022-08-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-10 04:58] datawookie commented on #137
Aha! Thank you. Okay, I feel we are millimetres away from a fix. I'm astonished that we are getting warnings from `readLines` despite setting `warn = FALSE`!

[2022-08-10 06:30] datawookie commented on #137
@pasipasi123 I have cleaned things up and pushed a fix to the `fix-umlaut` branch. Would you mind testing please?

Install with `remotes::install_github("datawookie/emayili@fix-umlaut")`.

Thanks for your persistence with this! :+1:

[2022-08-10 13:09] pasipasi123 commented on #137
Still getting warnings.

[code]

<sup>Created on 2022-08-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-10 13:29] datawookie commented on #137
@pasipasi123 please can you set `options(warn = 2)` and run that again? Need to know where those warnings are being generated.

[2022-08-11 05:28] pasipasi123 commented on #137
[code]

<sup>Created on 2022-08-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-11 08:57] datawookie commented on #137
Hmmm. This is very weird. You are still getting a warning on files which are being pulled from an URL.

Okay, I have replaced all occurrences of `readLines()` with `stri_read_lines()`. This was what fixed the original problem.

@pasipasi123 please test again. Hopefully for the very last time! :pray:

[2022-08-12 11:23] pasipasi123 commented on #137
I'm still seeing `readLines()` warnings even though I have the latest `fix-umlaut` branch installed.

[code]

<sup>Created on 2022-08-12 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-12 15:44] datawookie commented on #137
Aha! Okay, @pasipasi123, well there are no longer any calls to `readLines()` in the `{emayili}` code. So this means that the warning is being generated in another library which is being called from one of the `{emayili}` functions.

Are you still up for further debugging? Can you please:

1. Set `options(warn = 2)`.
2. Run your script one line at a time until there's a warning (which will be trans

[2022-08-16 07:28] pasipasi123 commented on #137
Here's my output. Sorry again for the delay.

[code]

[2022-08-16 08:43] datawookie commented on #137
Aha! Okay, that warning is being generated by a call to `read_utf8()` from within `rmarkdown::render()`. This is a locally declared version of `read_utf8()` (not the one from the `{xfun}` package), which in turn calls `readLines()`.

That is the origin of the first warning:

[code]

The other warnings all relate to the same issue.

The second warning actually tells us where the problem is (line 2

[2022-08-16 09:05] datawookie commented on #137
@pasipasi123 I _think_ that the issue is that I'm creating a file (the temporary file mentioned in the warning messages) using the `cat()` function and I _suspect_ that this is not setting the encoding of the file appropriately.

I have replaced the call to `cat()` with `stri_write_lines()` in the hope that it will "do the right thing".

Could I impose on you to install the latest version from the

[2022-08-16 10:34] pasipasi123 commented on #137
I now have some extra files. No warnings or errors. The rendered html does have the umlauts.

[code]

[2022-08-16 15:31] datawookie commented on #137
Hi @pasipasi123, okay, I have cleaned things up and merged those changes back into the `master` branch. Can you please confirm that this ticks all boxes for you? Ideally please install from the `master` branch and test. If you are happy with the results then I will push an update to CRAN. Thanks, Andrew.

[2022-08-17 05:43] pasipasi123 commented on #137
Looks great, I'm seeing those umlauts in a markdown email now.

As a side note, I'm wondering why I'm getting this in the beginning of the email? `Date: Wed, 17 Aug 2022 05:34:11 GMT X-Mailer: {emayili}-0.7.10 MIME-Version: 1.0 Content-Type: text/html; charset=utf-8` I haven't seen it before, but I have not send any Rmd emails lately.

[2022-08-17 06:38] datawookie commented on #137
Awesome! :)

[2022-08-17 06:39] datawookie commented on #137
@pasipasi123 that's weird. I'm not getting that in rendered emails. Those are header records which should be at the top of any email message. But they should not show up in your email client. Could you please provide me with more information? Maybe send such an email to me so that I can see the problem? Please use email address from the `DESCRIPTION` file. Thanks.

Please also show me the code you

[2022-08-17 07:46] pasipasi123 commented on #137
Nevermind actually, my bad, sorry! I sent emails too quickly without looking closely what's going to be sent.

Basically what happened was that I sent `html(envelope %>% render("test.Rmd"))` instead of just `render("test.Rmd")` because I was lazily using a function where I had previously switched to rendering html instead of a Rmd file.

[2022-08-17 08:40] datawookie commented on #137
Whew! Thanks so much for working with me on this over the last weeks. I think that this has resulted in a general improvement of the code. I'll push out a new release today.

[2022-08-17 08:40] #137 closed, assigned to datawookie

[2022-10-21 21:04] gueyenono opened #140 "Sending emails becomes very slow after some iterations in a loop."
I would like to start by thanking you for a great and easy-to-use package.

I am currently in a situation similar to what is described in Issue #112. I created a loop (really, I'm using `purrr::map()`) to send close to 1300 emails with 3 attachments each (2 attachments are the same and 1 attachment is specific to the recipient, hence the loop). At first, everything was running very fast, but after

[2022-10-22 14:02] datawookie commented on #140
Hi @gueyenono!

I'm not sure that reusing a connection is going to solve your issue. I did a quick experiment, sending 300 messages (each with a decent sized attachment) and timing how long it took to deliver to the SMTP server. Below are the results for two cases, either reusing an existing connection or creating a new connection for each message.

![image](https://user-images.githubusercontent.c

[2022-10-22 14:02] #140 closed, assigned to nobody

[2022-10-22 14:29] gueyenono commented on #140
@datawookie Thank you for this. Setting `verbose = FALSE` definitely solved my issue. I know from experience that R's console does not handle excessive text very well.

Thank you once again for a wonderful package (and other great packages).

[2022-10-22 16:02] datawookie commented on #140
@gueyenono I know that the RStudio console can become very slow with large volumes of output. Might be different if you run R on the command line. Either way, avoid the verbose output if you don't need it.

[2022-10-22 19:06] gueyenono commented on #140
I will have to try it on the command line. But honestly, I set verbose to `TRUE` simply because I wanted to have a way to know that "something was happening". My workaround was to add to R code to write to a log file at every iteration of the loop. This enabled me to keep watch over the process.

Thank you very much once again.

[2022-10-24 01:34] gueyenono commented on #140
@datawookie I have an unrelated question. I do quite a bit of web scraping on a regular basis and one good practice is to add a delay between two consecutive HTTP requests in order to avoid the website to lock you out. It is the case for email servers as well. As mentioned earlier, I sent about 1300 emails one after the other and I put a 5 second delay between two consecutive sending of email. Did

[2022-10-24 05:31] datawookie commented on #140
Hi @gueyenono, I believe that this is the right move. Yes, your process will run slower. But you can be more confident that it will run to completion since you are less likely to get throttled (or shut out!) by the server. I'd say that, unless this is a time-critical process (which is unlikely to be the case for sending out emails), then this is definitely the correct thing to do. You're really ju

[2022-10-24 05:46] gueyenono commented on #140
@datawookie I appreciate the answer. Thank you very much.

[2022-10-27 13:18] dcph-tboulay opened #141 "[FEAT]: Parsing multiple emails from a pre-constructed string or list"
### Description

Hi Andrew

We have been using emayili for a while and it works perfectly, thank you for all of the work.

A challenge I'm having: usually we manually send emails to multiple pre-defined people using the inline character vector creation cc(c(...)).  Due to some upstream conditional logic in our scripts, I have been trying to figure out a way to send emails to multiple people by dyn

[2022-10-27 13:26] datawookie commented on #141
Hi @dcph-tboulay,

Thanks for the message. Very happy that you are getting good use out of `{emayili}`.

I think I followed your description, but would you mind sharing some example code to illustrate what you are currently doing? Maybe showing me the current set of permutations that you have tried. I'm pretty sure we can do what you want, but I want to be 100% sure that I understand what you are

[2022-10-27 20:12] dcph-tboulay commented on #141
Thank you so much for the quick reply!  Here is a bit of code that I think should explain my question:

[code]

Ultimately I think my question is -- what is the preferred way of making aspects of the address fields dynamic in length?

Thank you again!

[2022-10-28 03:56] datawookie commented on #141
Hi @dcph-tboulay, thanks for that. The first thing that I would suggest is that you take the call to `server()` outside of the loop. Unless you are using different credentials each time you connect, making a new connection for each message is going to incur some overhead. I'll take a look at this now and post some other options. Thanks, Andrew.

[2022-10-28 04:03] datawookie commented on #141
Hi @dcph-tboulay,

Your code appears to send messages to the following recipients:

[code]

The problem with your code as it stands is that you are sending a `tibble` to `cc()`. For example, in the last iteration through the loop you are attempting to send the following:

[code]

The `cc()` method is not designed to ingest a `tibble`.

Here is an alternative approach which will work:

[code]

Here

[2022-10-28 16:59] datawookie commented on #141
Hi Tom,

Here's my complete script with both approaches. I run this without issues in a fresh R session. Can you please do the same?

Thanks, Andrew.

[code]

[2022-10-28 17:18] dcph-tboulay commented on #141
Apologies - I saw you just responded while I was deleting/updating my latest question.  This solution works for me for creating the envelope with one small modification:

[code]

I am now sending out these successfully.  Thank you for all of your help @datawookie!

[2022-10-28 17:28] #141 closed, assigned to nobody